html, body {
    font-family : $body-font;
    font-size   : 22px;

    &.full-height {
        height : 100%;
    }

    @media screen and (max-width : 1599px) {
        font-size : 21px;
    }

    @media screen and (max-width : 1440px) {
        font-size : 19px;
    }

    @media screen and (max-width : 1024px) {
        font-size : 17px;
    }

    @media screen and (max-width : 991px) {
        font-size : 16px;
    }

    @media screen and (max-width : 767px) {
        font-size : 13px;
    }

    @media screen and (max-width : 575px) {
        font-size : 12px;
    }

    &.no-scroll {
        overflow : hidden;
    }
}

body {
    overflow-x : hidden;
}

@media screen and (max-width : 1919px) {
    div[role="document"], .main, footer {
        overflow-x : hidden;
    }
}

@media screen and (min-width : 768px) and (max-width : 1919px) {
    .main section:last-child {
        padding-bottom : 100px;
    }
}

/* ==============================
    *ANCHOR GENERAL STYLING (this affects only links that are not displaeyd in a button fashion)
============================== */
a {
    &, &:active, &:hover, &:visited {
        color           : $brand-primary;
        text-decoration : none;
    }

    &:hover {
        color : $brand-secondary;
    }
}

/* ==============================
    *TYPOGRAPHY TWEAKS
============================== */
h2 {
    font-family    : Trade Gothic, sans-serif;
    font-weight    : bold;
    font-size      : 2.9rem;
    line-height    : 3.0rem;
    text-transform : uppercase;
    letter-spacing : 4px;
}

h3 {
    font-family    : $heading-font;
    font-weight    : bold;
    font-size      : 3.0rem;
    line-height    : 3.2rem;
    text-transform : uppercase;
    letter-spacing : 0.2rem;

    &.title {
        margin-bottom : 1.4rem;

        &.video-title {
            width: 94%;
            margin-left: auto;
        }
    }
}

h4 {
    font-size   : 2.8em;
    line-height : 2.9rem;
}

.micro-title {
    margin-bottom  : 0;
    font-family    : $body-font;
    font-size      : 1.4rem;
    font-weight    : normal;
    line-height    : 1.5rem;
    text-transform : uppercase;
    letter-spacing : 2px;
}

.subcontent {
    font-size   : 0.9rem;
    line-height : 1.2rem;

    p {
        margin-bottom : 0.6rem;

        &:last-child {
            margin-bottom : 0;
        }
    }

    & + .link-row-container {
        margin-top : 2rem;
    }

    ul {
        padding-left : 0;
        li {
            position     : relative;
            padding-left : 1.5rem;
            list-style   : none;
            &:before {
                position         : absolute;
                top              : 0.5rem;
                left             : 0.2rem;
                display          : block;
                content          : '';
                width            : 0.4rem;
                height           : 0.1rem;
                background-color : $brand-primary;
            }
        }
    }
}

/*** MEDIA TWEAKS ***/
@media screen and (max-width : 1399px) {
    h3 {
        font-size   : 2.6rem;
        line-height : 2.7rem;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    h3 {
        font-size   : 2.2rem;
        line-height : 2.3rem;
    }
}

@media screen and (max-width : 767px) {
    h3 {
        font-size   : 2.6rem;
        line-height : 2.7rem;
    }
}

@media screen and (max-width : 767px) {
  h3.title.video-title {
      width: 100%;
      margin-left: 0;
  }
}

@media screen and (min-width : 576px) and (max-width : 767px) {
    .subcontent {
        font-size   : 1.2rem;
        line-height : 1.4rem;
    }
}

@media screen and (max-width : 575px) {
    .subcontent {
        font-size   : 1.1rem;
        line-height : 1.3rem;
    }
}

/* ==============================
    *TWEAKS TO SAGE
============================== */
body { //we add the body as parent to have more rules specificity over the grid.scss
    .main {
        padding : 0;
        z-index : 1;
    }

    &.sidebar-primary .main {
        max-width : 100%;
        width     : 100%;
        flex      : 0 0 100%;
    }

    .sidebar {
        display : none;
    }
}

/* ==============================
    *GRID CUSTOM MODIFICATIONS
============================== */
.container-fluid.container-fluid-cap {
    max-width : 1920px;
}

/* ==============================
    *LINKS/ANCHORS AND BUTTONS STYLING
============================== */
/*
    .row.link-row-container
    {
        >.col{
            >.link-btn  (LINK OR BUTTON) {
                >.link-text
            }
        }
    }
*/
.link-row-container {
    .col-float {
        flex-shrink   : 1;
        flex-grow     : 0;
        padding-left  : 15px;
        padding-right : 0;
    }

    //.col-float + .col-float {
    //    padding-left : 20px;
    //}
}

/*
    .link-btn [dark-btn/red-btn/white-btn] [red-text-hover / dark-text-hover] [d-* (BOOTSTRAP DISPLAY CLASS)]
    {
        >span.link-text
    }
*/
.link-btn {
    position           : relative;
    overflow           : hidden;
    padding            : 0.14rem 1.2rem;
    font-size          : 1rem;
    font-weight        : bold;
    text-align         : center;
    text-transform     : uppercase;
    text-decoration    : none;
    z-index            : 1;
    -webkit-transition : color 0.33s ease;
    -moz-transition    : color 0.33s ease;
    -ms-transition     : color 0.33s ease;
    -o-transition      : color 0.33s ease;
    transition         : color 0.33s ease;
    white-space        : nowrap;

    &.full-width {
        width : 100%;
    }

    &:active, &:hover, &:visited {
        text-decoration : none;
    }

    &:before,
    &:after {
        position           : absolute;
        top                : 0;
        left               : 0;
        display            : block;
        content            : '';
        width              : 100%;
        height             : 100%;
        -webkit-transition : transform 0.33s ease;
        -moz-transition    : transform 0.33s ease;
        -ms-transition     : transform 0.33s ease;
        -o-transition      : transform 0.33s ease;
        transition         : transform 0.33s ease;
        z-index            : 2;
    }

    //&:before {
    //    -webkit-transform : translate(-100%, -100%);
    //    -moz-transform    : translate(-100%, -100%);
    //    -ms-transform     : translate(-100%, -100%);
    //    -o-transform      : translate(-100%, -100%);
    //    transform         : translate(-100%, -100%);
    //}
    //&:after {
    //    -webkit-transform : translate(100%, 100%);
    //    -moz-transform    : translate(100%, 100%);
    //    -ms-transform     : translate(100%, 100%);
    //    -o-transform      : translate(100%, 100%);
    //    transform         : translate(100%, 100%);
    //}
    //
    //&:hover {
    //    &:before,
    //    &:after {
    //        -webkit-transform : translate(0, 0);
    //        -moz-transform    : translate(0, 0);
    //        -ms-transform     : translate(0, 0);
    //        -o-transform      : translate(0, 0);
    //        transform         : translate(0, 0);
    //    }
    //}

    &:after {
        display : none !important;
    }

    &:before {
        position   : absolute;
        top        : 0;
        left       : 0;
        display    : block !important;
        content    : '';
        width      : 100%;
        height     : 100%;
        transition : opacity 0.35s ease;
        opacity    : 0;
        transform  : translateZ(0);
    }

    &:hover:before {
        opacity : 1;
    }

    .link-text {
        position    : relative;
        top         : 1px;
        display     : block;
        color       : inherit;
        font-size   : inherit;
        line-height : inherit;
        z-index     : 3;
    }

    /* COLORS */
    &.dark-btn {
        border : 3px solid $brand-secondary;
        color  : $brand-secondary;
        &:before,
        &:after {
            background-color : rgba(0, 0, 0, 0.50);
        }
        &:hover {
            color : #FFFFFF;
        }
    }

    &.red-btn {
        border : 3px solid $brand-primary;
        color  : $brand-primary;
        &:before,
        &:after {
            background-color : rgba(213, 18, 22, 0.80);
        }
        &:hover {
            color : #FFFFFF;
        }
    }

    &.white-btn {
        border : 3px solid #FFFFFF;
        color  : #FFFFFF;
        &:before,
        &:after {
            background-color : rgba(255, 255, 255, 0.75);
        }
        &.red-text-hover:hover {
            color : $brand-primary;
        }
        &.dark-text-hover:hover {
            color : $brand-secondary;
        }
    }

    /*** MEDIA TWEAKS ***/
    @media screen and (max-width : 1024px) {
        font-size : 1rem;
    }

    @media screen and (max-width : 767px) {
        font-size : 1.3rem;
        padding   : 0.4rem 1.8rem;
    }
}

/* ==============================
    *INVISIBLE TRIGGERS
============================== */
/*
    These triggers are positioned in the footer and
    they have been used mainly in js. They basically "flag"
    the right media query the user is in thanks to the ".is('visible')" jquery function
    Their visibility is set directly on the element through bootstrap classes (apart from the custom one)
 */
.invisible-trigger {
    position : absolute;
    top      : 0;
    left     : 0;

    /* custom invisible trigger */
    &.fs {
        @media screen and (min-width : 1921px) {
            display : block !important;
        }
    }
    &.navigation-xxl-trigger {
        @media screen and (min-width : 1980px) {
            display : block !important;
        }
    }
}

/* ==============================
    *TABLE UTILITY
============================== */
.table {
    position      : relative;
    display       : table;
    width         : 100%;
    margin-bottom : 0;
}

.trow {
    display : table-row;
    width   : 100%;
}

.td {
    display : table-cell;
}

/* ==============================
    *PADDING
============================== */
.common-pad-l {
    padding-left : $common-padding;
}

.common-pad-r {
    padding-right : $common-padding;
}

.common-pad {
    padding-left  : $common-padding;
    padding-right : $common-padding;
}

.thick-pad-l {
    padding-left : $thick-padding;
}

.thick-pad-r {
    padding-right : $thick-padding;
}

.thick-pad {
    padding-left  : $thick-padding;
    padding-right : $thick-padding;
}

.no-pad {
    padding : 0;
}

.right-pad-for-menu {
    padding-right : $right-pad-for-menu;
}

@media screen and (min-width : 992px) and (max-width : 1199px) {
    .thick-pad-l {
        padding-left : $thick-padding-lg;
    }

    .thick-pad-r {
        padding-right : $thick-padding-lg;
    }

    .thick-pad {
        padding-left  : $thick-padding-lg;
        padding-right : $thick-padding-lg;
    }
}

@media screen and (max-width : 991px) {
    .right-pad-for-menu {
        padding-right : $right-pad-for-menu-tablet;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px) {
    .thick-pad-l {
        padding-left : $common-padding;
    }

    .thick-pad-r {
        padding-right : $common-padding;
    }

    .thick-pad {
        padding-left  : $common-padding;
        padding-right : $common-padding;
    }
}

@media screen and (max-width : 767px) {
    .common-pad-l {
        padding-left : $common-padding-mobile;
    }

    .common-pad-r {
        padding-right : $common-padding-mobile;
    }

    .common-pad {
        padding-left  : $common-padding-mobile;
        padding-right : $common-padding-mobile;
    }

    .thick-pad-l {
        padding-left : $thick-padding-mobile;
    }

    .thick-pad-r {
        padding-right : $thick-padding-mobile;
    }

    .thick-pad {
        padding-left  : $thick-padding-mobile;
        padding-right : $thick-padding-mobile;
    }

    .right-pad-for-menu {
        padding-right : $right-pad-for-menu-mobile;
    }
}

/* ==============================
    *LEGAL Popup Remainder
============================== */
#cookie-law-info-again {
    display : none !important;
}

.cli-plugin-main-link {
    color       : $brand-primary;
    margin-left : 0;
}


/* ==============================
    *EDITS TO VIDEOJS FOR MOBILE
============================== */
.vjs-youtube-mobile {
    z-index : 1;
}

.vjs-youtube-mobile > div:first-child {
    z-index  : 25;
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
}

.vjs-youtube-mobile .vjs-big-play-button {
    display : block !important;
    z-index : 50;
}

.vjs-youtube-mobile.vjs-has-started .vjs-big-play-button {
    display : none !important;
}


.vjs-youtube-mobile .vjs-poster.d-none {
    display : none !important;
}

.vjs-youtube-mobile.vjs-has-started .vjs-poster {
    display : none !important;
}

.vjs-youtube-mobile .vjs-control-bar {
    display : none !important;
}

.video-overlay-play-mobile {
    position          : absolute;
    top               : 50%;
    left              : 0;
    display           : block;
    width             : 100%;
    height            : 45%;
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
    z-index           : 50;
}
