// Grid settings
$main-sm-columns : 12;
$sidebar-sm-columns : 4;

// Colors
$brand-primary : #d51216;
$brand-secondary : #353c45;
$brand-tertiary : #a2bfc3;
$brand-silver : #9B9B9B;

// Font setup
@font-face {
    font-family : "Avenir";
    font-style  : normal;
    font-weight : 400;
    src         : url("../fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src         : url("../fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),
    url("../fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),
    url("../fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),
    url("../fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),
    url("../fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}

@font-face {
    font-family : "Avenir";
    font-style  : italic;
    font-weight : 400;
    src         : url("../fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix");
    src         : url("../fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot"),
    url("../fonts/a59168c1-917d-4de9-a244-0316c057c357.woff2") format("woff2"),
    url("../fonts/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff") format("woff"),
    url("../fonts/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf") format("truetype"),
    url("../fonts/7b1e5b2a-b6a6-43da-9021-ada6d1d797f2.svg#7b1e5b2a-b6a6-43da-9021-ada6d1d797f2") format("svg");
}

@font-face {
    font-family : "Avenir";
    font-style  : normal;
    font-weight : 700;
    src         : url("../fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src         : url("../fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),
    url("../fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),
    url("../fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),
    url("../fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),
    url("../fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
}

@font-face {
    font-family : "Trade Gothic";
    font-style  : normal;
    font-weight : normal;
    src         : url("../fonts/d1380d7c-6e23-49c9-bac2-0f927e77eb17.eot?#iefix");
    src         : url("../fonts/d1380d7c-6e23-49c9-bac2-0f927e77eb17.eot?#iefix") format("eot"),
    url("../fonts/2bd4e485-6e2d-478c-94c7-9a7cabf8e98d.woff2") format("woff2"),
    url("../fonts/3e9c6e62-e41c-408b-bef3-ffa454301b17.woff") format("woff"),
    url("../fonts/a74675c3-a15b-41ed-8409-e90f921c3cb8.ttf") format("truetype"),
    url("../fonts/32260af6-2329-4a39-a8a3-3339f87a580b.svg#32260af6-2329-4a39-a8a3-3339f87a580b") format("svg");
}

@font-face {
    font-family : "Trade Gothic";
    font-style  : normal;
    font-weight : bold;
    src         : url("../fonts/d1380d7c-6e23-49c9-bac2-0f927e77eb17.eot?#iefix");
    src         : url("../fonts/d1380d7c-6e23-49c9-bac2-0f927e77eb17.eot?#iefix") format("eot"),
    url("../fonts/2bd4e485-6e2d-478c-94c7-9a7cabf8e98d.woff2") format("woff2"),
    url("../fonts/3e9c6e62-e41c-408b-bef3-ffa454301b17.woff") format("woff"),
    url("../fonts/a74675c3-a15b-41ed-8409-e90f921c3cb8.ttf") format("truetype"),
    url("../fonts/32260af6-2329-4a39-a8a3-3339f87a580b.svg#32260af6-2329-4a39-a8a3-3339f87a580b") format("svg");
}

// font families
$body-font : "Avenir", sans-serif;
$body-font-size-lg-xl : 22px;
$body-font-size-lg : 19px;
$body-font-size-md : 16px;
$body-font-size-sm : 13px;
$body-font-size-xs : 12px;
$heading-font : "Trade Gothic", sans-serif;
$common-padding : 3.5rem;
$thick-padding : 7rem;
$thick-padding-lg : 5.8rem;
$common-padding-mobile : 15px;
$thick-padding-mobile : 15px;