footer {
    padding-top : 4rem;

    .footer-red {
        background-color : $brand-primary;
    }

    /*==== MIRROR CONTAINER TWEAKS ====*/
    .mirror-quote-container {
        //max-width : 550px;

        &.text-left {
            margin-left : auto;
        }

        &.text-right {
            margin-left : auto;
        }

        &.no-image {
            &:after {
                display : none;
            }
        }

        @media screen and (min-width : 1600px) {
            .mirror-image-container {
                .mirror-image {
                    padding-bottom : 108%;
                }
            }
        }
    }

    /*==== PHONE NUMBER SECTION ====*/
    .phone-number-section {
        padding-bottom   : 7rem;
        background-color : transparent;

        .title {
            margin-bottom : 1.5rem;
        }

        .phone_number {
            display        : inline-block;
            padding-bottom : 10px;
            margin-bottom  : 0;
            white-space    : nowrap;
            a {
                &, &:active, &:hover, &:visited, &:active {
                    color           : $brand-secondary;
                    text-decoration : none;
                }
            }
        }

        .mirror-quote-container {
            .quote {
                text-align : right;
            }
        }
    }

    /*==== FORM SECTION ====*/
    .form-section {
        padding-top      : 3.05rem;
        padding-bottom   : 2.2rem;
        color            : #FFFFFF;
        background-color : $brand-primary;
    }

    .pre-form-line-container {
        position : relative;
        display  : block;
        width    : 100%;
    }

    #pre-form-line {
        position : absolute;
        bottom   : 100%;
        left     : 0;
        display  : block;
        height   : 7.5rem;
    }

    #footer_form_lbl {
        display : block;
        width   : 100%;

        input[type=text],
        input[type=tel],
        input[type=email],
        .wpcf7-submit,
        textarea {
            border           : 2px solid #FFFFFF;
            border-radius    : 0;
            color            : rgba(255, 255, 255, 0.5);
            background-color : transparent;
            text-transform   : uppercase;
            &:focus {
                outline    : none;
                box-shadow : none;
            }
            &::-webkit-input-placeholder {
                color : rgba(255, 255, 255, 0.5) !important;
            }
            &::-moz-placeholder {
                color : rgba(255, 255, 255, 0.5) !important;
            }
            &:-ms-input-placeholder {
                color : rgba(255, 255, 255, 0.5) !important;
            }
            &:-moz-placeholder {
                color : rgba(255, 255, 255, 0.5) !important;
            }
        }

        label,
        label > span,
        label > span > input,
        label > span > textarea {
            display : block;
            width   : 100%;
        }

        label {
            margin-bottom : 1.06rem;
        }

        input, textarea {
            padding     : 0.65rem 1.1rem;
            font-size   : 0.9rem;
            line-height : 1rem;
        }

        br {
            display : none;
        }

        .wpcf7-submit {
            padding            : 0.7rem 1.4rem;
            -webkit-transition : color 0.45s ease, background-color 0.45s ease;
            -moz-transition    : color 0.45s ease, background-color 0.45s ease;
            -ms-transition     : color 0.45s ease, background-color 0.45s ease;
            -o-transition      : color 0.45s ease, background-color 0.45s ease;
            transition         : color 0.45s ease, background-color 0.45s ease;
            cursor             : pointer;
            color              : #FFFFFF;
            &:hover {
                background-color : #FFFFFF;
                color            : $brand-primary;
            }
        }

        textarea {
            height : 130px;
            resize : none;
        }

        .frm_error {
            color       : #ffffff;
            font-family : $body-font;
            padding-top : 4px;
        }
    }

    /*==== BOTTOM SECTION ====*/
    .bottom-section {
        color            : #FFFFFF;
        background-color : $brand-primary;

        .total-coffee-solution {
            position       : relative;
            padding        : 3.3rem 0.7rem 6.2rem 1.8rem;
            margin-bottom  : 0;
            font-size      : 2.6rem;
            line-height    : 3.0rem;
            letter-spacing : 3px;
            text-transform : uppercase;
            .total-coffee-solution-line {
                position : absolute;
                top      : 0;
                left     : 0;
                display  : block;
                height   : 100%;
            }
        }

        .logo-col {
            background-color : #FFFFFF;
            img {
                position          : absolute;
                top               : 50%;
                left              : 50%;
                display           : block;
                width             : 45%;
                -webkit-transform : translate(-50%, -50%);
                -moz-transform    : translate(-50%, -50%);
                -ms-transform     : translate(-50%, -50%);
                -o-transform      : translate(-50%, -50%);
                transform         : translate(-50%, -50%);
            }
        }
    }

    /* ==============================
    *MOBILE CHANGES
    ============================== */
    @media screen and (max-width : 991px) {
        /* Footer General */
        .thick-pad {
            padding-left  : $common-padding;
            padding-right : $common-padding;
        }

        .thick-pad-l {
            padding-left : $common-padding;
        }
    }

    @media screen and (max-width : 767px) {
        /* Footer General */
        .thick-pad {
            padding-left  : 15px;
            padding-right : 15px;
        }

        .thick-pad-l, .common-pad-l {
            padding-left : 15px;
        }

        .thick-pad-r, .common-pad-r {
            padding-right : 15px;
        }

        /* Phone Number Section */
        .phone-number-section {
            .title {
                margin-top : 40px;
            }

            .phone_number {
                margin-bottom : 0;
            }

            .phased-img-col {
                margin-top    : 20px;
                padding-right : 15px;
            }

            .mirror-quote-container {
                .quote {
                    text-align : inherit;
                }
            }
        }
    }

    @media screen and (max-width : 576px) {
        /* Bottom Section */
        .bottom-section {
            .logo-col {
                flex           : 1 100%;
                padding-top    : 1.8rem;
                padding-bottom : 1.8rem;

                img {
                    position          : relative;
                    top               : 0;
                    left              : 0;
                    width             : 60%;
                    max-width         : 160px;
                    margin            : auto;
                    -webkit-transform : none;
                    -moz-transform    : none;
                    -ms-transform     : none;
                    -o-transform      : none;
                    transform         : none;
                }
            }
        }
    }
}