header.main-header {
    position : absolute;
    top      : 0;
    left     : 0;
    display  : block;
    width    : 100%;
    z-index  : 5;

    .col-header-mobile-background {
        display : none;
    }

    .brand {
        display      : block;
        padding-top  : 60px;
        padding-left : 41px;
        .logo {
            display : block;
            width   : 160px;
        }
    }

    /*** MOBILE TWEAKS ***/
    @media screen and (max-width : 991px) {
        position : fixed;

        .col-header-mobile-background {
            position          : absolute;
            display           : block;
            flex              : 1 100%;
            height            : 75px;
            background-color  : #FFFFFF;
            -webkit-transform : translateY(-100%);
            -moz-transform    : translateY(-100%);
            -ms-transform     : translateY(-100%);
            -o-transform      : translateY(-100%);
            transform         : translateY(-100%);
        }

        .brand {
            padding-top    : 8px;
            padding-left   : 18px;
            padding-bottom : 8px;
            .logo {
                width : 120px;
            }
        }
    }

    @media screen and (max-width : 767px) {
        .col-header-mobile-background {
            height : 55px;
        }

        .brand {
            padding-left : 8px;
            .logo {
                width : 80px;
            }
        }
    }
}

/* ==============================
    *NAVIGATION
============================== */
nav#side-nav {
    position           : fixed;
    top                : 50%;
    right              : 0%;
    display            : block;
    width              : 3.5rem;
    height             : auto;
    padding            : 0.4rem;
    opacity            : 1;
    background-color   : $brand-primary;
    -webkit-transform  : translateY(-50%);
    -moz-transform     : translateY(-50%);
    -ms-transform      : translateY(-50%);
    -o-transform       : translateY(-50%);
    transform          : translateY(-50%);
    -webkit-box-shadow : 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow    : 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
    box-shadow         : 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
    #menu-trigger {
        display          : block;
        width            : 2.7rem;
        height           : 2.7rem;
        border           : 2px solid #FFFFFF;
        padding          : 0.7rem;
        color            : #FFFFFF;
        background-color : transparent;
        cursor           : pointer;
        .line {
            display          : block;
            width            : 100%;
            height           : 0.2rem;
            margin-bottom    : 0.2rem;
            background-color : #FFFFFF;
            &.shorter-line {
                width : 60%;
            }
            &:last-child {
                margin-bottom : 0;
            }
        }
    }
    .dots {
        list-style : none;
        padding    : 3.7rem 0 3.7rem 0;
        margin     : 0;
        li {
            position : relative;
            display  : block;
            width    : 12px;
            height   : 12px;
            margin   : 16px auto;
            color    : white;
            cursor   : pointer;
            &:after {
                position          : absolute;
                top               : 50%;
                left              : 50%;
                display           : block;
                content           : '';
                width             : 8px;
                height            : 8px;
                border-radius     : 40px;
                background-color  : #ffffff;
                -webkit-transform : translate(-50%, -50%);
                -moz-transform    : translate(-50%, -50%);
                -ms-transform     : translate(-50%, -50%);
                -o-transform      : translate(-50%, -50%);
                transform         : translate(-50%, -50%);
            }

            &:before {
                position           : absolute;
                top                : 50%;
                left               : 50%;
                display            : block;
                content            : '';
                width              : 2px;
                height             : 2px;
                border             : 1px solid #FFFFFF;
                border-radius      : 40px;
                -webkit-transform  : translate(-50%, -50%);
                -moz-transform     : translate(-50%, -50%);
                -ms-transform      : translate(-50%, -50%);
                -o-transform       : translate(-50%, -50%);
                transform          : translate(-50%, -50%);
                -webkit-transition : width 0.35s ease, height 0.05s ease;
                -moz-transition    : width 0.35s ease, height 0.05s ease;
                -ms-transition     : width 0.35s ease, height 0.05s ease;
                -o-transition      : width 0.35s ease, height 0.05s ease;
                transition         : width 0.35s ease, height 0.05s ease;
            }
            &.active:before, &:hover:before {
                width  : 16px;
                height : 16px;
            }
        }
    }

    /* MOBILE CHANGES */
    @media screen and (max-width : 991px) {
        position          : absolute;
        top               : 9px !important;
        right             : 9px !important;
        -webkit-transform : none !important;
        -moz-transform    : none !important;
        -ms-transform     : none !important;
        -o-transform      : none !important;
        transform         : none !important;
        .dots {
            display : none !important;
        }
    }

    @media screen and (max-width : 767px) {
        top   : 5px !important;
        right : 5px !important;
    }

    @media screen and (max-width : 576px) {
        top   : 6px !important;
        right : 6px !important;
    }
}

/*=======================
    *MAIN MENU
 ======================*/
#main-menu {
    position : fixed;
    top      : 0;
    left     : 0;
    display  : none;
    width    : 100%;
    height   : 100%;
    z-index  : 50;

    .full-screen {
        @media screen and (min-width : 992px) {
            width : 100%;
        }
        height : 100%;
    }

    .main-menu-col-pad {
        padding-right : 50px;
    }

    .close-btn {
        position    : absolute;
        top         : 0;
        right       : 0;
        display     : block;
        width       : 35px;
        height      : 35px;
        border      : 2px solid #FFFFFF;
        color       : #FFFFFF;
        font-size   : 24px;
        text-align  : center;
        line-height : 34px;
        opacity     : 0;
        cursor      : pointer;
        i {
            position          : absolute;
            top               : 50%;
            left              : 50%;
            display           : inline-block;
            -webkit-transform : translate(-50%, -50%);
            -moz-transform    : translate(-50%, -50%);
            -ms-transform     : translate(-50%, -50%);
            -o-transform      : translate(-50%, -50%);
            transform         : translate(-50%, -50%);
        }
    }

    /*
    The menu bg animator is the element that takes the place of the background
    and animates the movement starting from the Nav Burger Button
     */
    #menu-bg-animator {
        position : absolute;
        top      : 0;
        left     : 0;
        display  : block;
        width    : 100%;
        height   : 100%;
    }

    .main-nav {
        display       : inline-block;
        margin-bottom : 0;
        margin-right  : auto;
        padding-left  : 0;
        font-family   : $heading-font;
        text-align    : left;
        list-style    : none;

        &, ul {
            /*
            When a list is active means that at least one item
            is active as well, so its siblings can have reduced opacity
             */
            &.active {
                & > li > a {
                    opacity : 0.3;
                    &.active {
                        opacity : 1;
                    }
                }
            }
        }

        li, a {
            position       : relative;
            text-transform : uppercase;
            z-index        : 1;
        }

        li {
            padding-left                : 1.3em;
            -webkit-backface-visibility : hidden; //this solves a bug in chrome where the opacity also moved slightly the element
            &.current-menu-item {
                a {
                    opacity : 1;
                }
            }
        }

        /**** DIFFERENT SIZES ACCORDING TO THE GENERATION ***/
        @media screen and (min-width : 992px) {
            /* 1st Generation */
            & > li {
                font-size   : 2.0rem;
                line-height : 2.0rem;

                /* 2nd Generation */
                .sub-menu > li {
                    font-size   : 1.6rem;
                    line-height : 1.6rem;

                    /* 3rd Generation */
                    .sub-menu > li {
                        font-size   : 1.3rem;
                        line-height : 1.3rem;

                        /* 4th Generation */
                        .sub-menu > li {
                            font-size   : 1.0rem;
                            line-height : 1.0rem;
                        }
                    }
                }
            }
        }

        @media screen and (max-width : 991px) {
            li {
                font-size   : 1.8rem;
                line-height : 1.8rem;
            }
        }

        a {
            &, &:active, &:hover, &:visited, &:link {
                display                    : inline-block;
                color                      : #FFFFFF;
                letter-spacing             : 3px;
                text-decoration            : none;
                padding-top                : 0.25em;
                padding-bottom             : 0.25em;
                -webkit-transition         : opacity 0.35s ease;
                -moz-transition            : opacity 0.35s ease;
                -ms-transition             : opacity 0.35s ease;
                -o-transition              : opacity 0.35s ease;
                transition                 : opacity 0.35s ease;
                opacity                    : 0.7;
                webkit-backface-visibility : hidden;

                &:after {
                    position           : absolute;
                    bottom             : 4px;
                    right              : -2.5%;
                    display            : block;
                    content            : '';
                    width              : 105%;
                    height             : 0;
                    background-color   : #ffffff;
                    -webkit-transition : height 0.45s ease;
                    -moz-transition    : height 0.45s ease;
                    -ms-transition     : height 0.45s ease;
                    -o-transition      : height 0.45s ease;
                    transition         : height 0.45s ease;
                }

                &.active, &:hover {
                    opacity : 1;
                }

                &.active:after {
                    height : 4px;
                }
            }
        }

        .plus-opener {
            /*
            In this small button we use em instead of rem so that it
            assets its width and height according to the parent.
            This is because different generations have different sizes and line heights
             */
            position           : absolute;
            top                : 0.25em;
            left               : 0.3em;
            display            : block;
            width              : 1em;
            height             : 1em;
            color              : #FFFFFF;
            line-height        : 1em;
            opacity            : 0.7;
            -webkit-transition : opacity 0.35s ease;
            -moz-transition    : opacity 0.35s ease;
            -ms-transition     : opacity 0.35s ease;
            -o-transition      : opacity 0.35s ease;
            transition         : opacity 0.35s ease;
            cursor             : pointer;
            z-index            : 3;
            &.active, &:hover {
                opacity : 1;
            }
            &:before {
                position      : absolute;
                top           : 15%;
                left          : 15%;
                display       : block;
                content       : '';
                width         : 70%;
                height        : 70%;
                border        : 2px solid #FFFFFF;
                border-radius : 140px;
            }
            i {
                display     : block;
                box-sizing  : content-box;
                font-size   : 0.3em;
                line-height : inherit;
                text-align  : center;
            }
        }

        .sub-menu {
            position          : absolute;
            top               : 50%;
            right             : 100%;
            display           : none;
            margin            : 0;
            padding-left      : 0;
            list-style        : none;
            transform-origin  : right center;
            -webkit-transform : translateY(-50%) scale(0);
            -moz-transform    : translateY(-50%) scale(0);
            -ms-transform     : translateY(-50%) scale(0);
            -o-transform      : translateY(-50%) scale(0);
            transform         : translateY(-50%) scale(0);
            z-index           : 2;
        }

        .has-children {
            background : #ccc;
        }
    }

    @media screen and (max-width : 991px) {
        .menu-mainmenu-container {
            text-align : center;
        }

        .main-menu-col-pad {
            padding-right : 15px;
        }

        .close-btn {
            position : fixed;
        }

        .main-nav {
            width : 80%;
        }

        .main-nav .sub-menu {
            width : 100%;
        }

        /* we ulteriorily reduce the opacity of elements on mobile when they are on the far right and still visible */
        .main-nav.active, .main-nav ul.active {
            & > li > a {
                opacity : 0.25;
                &.active {
                    opacity : 0.7;
                }
            }
        }
    }
}