/* ==============================
    *HOME PAGE
============================== */
.page-template-template-home {

    /*** GENERAL RULES FOR ALL THE SECTIONS ***/
    .section-scrollable {
        position : relative;
        display  : block;
        z-index  : 1;
    }

    /*** Section1 overlap rules ***/
    /* This section sits on its own because the image needs to overlap
     onto section 2. If it was in section 1 it would not be possible.
     As section 2 has an image as well that needs to overlap
     */
    .section-1-overlapping-img {
        position : relative;
        display  : block;
        z-index  : 2;

        .slide-from-left-img {
            position            : absolute;
            top                 : -3.5rem;
            left                : 0;
            width               : 103%;
            height              : 1px;
            padding-bottom      : 350%;
            background-size     : cover;
            background-repeat   : no-repeat;
            background-position : center center;
        }
    }

    /*** SINGLE SECTIONS ***/
    .section-1 {
        padding-bottom : 20%;
        .title {
            margin-bottom : 1.3rem;
        }
        .subcontent {
            width         : 90%;
            margin-bottom : 2.2rem;
        }
    }

    .section-2 {
        padding-top      : 12%;
        padding-bottom   : 14%;
        color            : #FFFFFF;
        background-color : $brand-primary;
        .content-col {
            padding-top : 3rem;
            .subtitle {
                width : 88%;
            }
        }

        .mirror-quote-container {
            width : 88%;
            left  : 10%;
            .mirror-image-container {
                .mirror-image {
                    width          : 123%;
                    padding-bottom : 156%;

                    @media screen and (min-width : 1600px) {
                        width          : 114%;
                        padding-bottom : 154%;
                    }
                }
            }
        }

        .bottom-line-col {
            position : absolute;
            bottom   : 0;
            left     : 0;

            .bottom-line-container {
                position  : relative;
                display   : block;
                width     : 100%;
                max-width : 1920px;
                margin    : auto;
                #section-2-bottom-line {
                    position       : absolute;
                    bottom         : 102%;
                    left           : 45px;
                    display        : block;
                    height         : 1px;
                    padding-bottom : 17%;
                }
            }

            #pre-item-line {
                position       : absolute;
                top            : 100%;
                right          : 30px;
                display        : block;
                height         : 1px;
                padding-bottom : 16%;
            }
        }
    }

    .section-3 {
        padding-top : 14%;

        .box-image-container {
            position            : relative;
            top                 : -20%;
            left                : 0;
            display             : block;
            width               : 100%;
            max-width           : 640px;
            height              : 1px;
            padding-bottom      : 138%;
            background-size     : cover;
            background-repeat   : no-repeat;
            background-position : center center;
        }

        .item-image-container {
            position            : relative;
            width               : 150%;
            height              : 1px;
            display             : block;
            padding-bottom      : 100%;
            background-size     : contain;
            background-repeat   : no-repeat;
            background-position : left center;
        }

        .case-study {
            position : relative;
            top      : -5%;
        }
    }

    .section-4 {
        position         : relative;
        display          : block;
        padding-bottom   : 14%;
        color            : #FFFFFF;
        background-color : $brand-secondary;

        .box-image-container {
            position            : relative;
            top                 : -20%;
            left                : 0;
            display             : block;
            width               : 100%;
            height              : 1px;
            padding-bottom      : 200%;
            background-size     : cover;
            background-repeat   : no-repeat;
            background-position : center center;
        }

        .logo-list-col {
            padding-top : 7%;
        }

        .logo-section {

            & + .logo-section {
                margin-top : 1.4rem;
            }

            .heading-label {
                text-transform : uppercase;
                flex-grow      : 0;
            }

            .logo-list {
                text-align : center;
                .row {
                    padding-top    : 0.4rem;
                    padding-bottom : 0.9rem;
                }
                .col {
                    margin-bottom : 0.5rem;
                }
                img {
                    max-height : 6rem;
                }
            }
        }
    }

    .section-5 {
        .mirror-quote-container {
            position : relative;
            top      : -20%;
            color    : $brand-primary;
            .quote {
                text-align : right;
            }
        }

        .content-col {
            padding-top    : 16.5%;
            padding-bottom : 20%;
        }
    }

    .promotion-container {
        padding-top : 0;
    }

    /*** MEDIA TWEAKS ***/
    @media screen and (min-width : 1920px) {
        .section-1 {
            padding-bottom : 20.0rem;
        }

        .section-2 {
            padding-top    : 0.6rem;
            padding-bottom : 7rem;
        }

        .section-3 {
            padding-top : 10.0rem;
        }

        .section-4 {
            padding-bottom : 10.0rem;
        }
    }

    @media screen and (min-width : 1400px) {
        .promotion-container {
            padding-top : 8%;
        }
    }

    @media screen and (max-width : 767px) {
        .section-1-overlapping-img {
            .slide-from-left-img {
                position       : relative;
                height         : 1px !important;
                padding-bottom : 48% !important;
                margin-bottom  : 6%;
            }
        }

        .section-2 {
            h3 {
                margin-top : 3.6rem;
            }

            .mirror-quote-container {
                .mirror-image-container {
                    .mirror-image {
                        padding-bottom : 50%;
                    }
                }
            }

            .bottom-line-col {
                .bottom-line-container {
                    #section-2-bottom-line {
                        padding-bottom : 13%;
                    }
                }
            }

            .case-study {
                top : -8%;
            }
        }

        .section-3 {
            .box-image-container {
                padding-bottom : 50%;
            }

            .item-image-container {
                width          : 115%;
                padding-bottom : 80%;
            }

            .link-row-container {
                margin-bottom : 3.6rem;
            }
        }

        .section-4 {
            .box-image-col {
                padding-left : 0;
                .box-image-container {
                    top            : 0;
                    padding-bottom : 50%;
                }
            }
        }

        .section-5 {
            .mirror-quote-container {
                top : -24%;
            }

            #pre-item-line {
                display : none;
            }
        }
    }

    @media screen and (max-width : 575px) {
        .section-3 {
            .box-image-container {
                top : -13%;
            }
        }
    }

}

/* ==============================
    *MAINTENANCE  /  WHO WE ARE
============================== */

/* ==============================
    *BESPOKE BRANDS
============================== */

/* ==============================
    *COFFEE LISTING
============================== */
.page-template-template-coffee {
    .first-divided-section {
        margin-top : 12%;
    }
}

/* ==============================
    *SINGLE CPT COFFEE
============================== */
.single-coffee {
    section.dark-background {
        background-color : $brand-secondary;
        color            : #FFFFFF;
    }

    #sliding-coffee-element {
        position : absolute;
        top      : 0;
        left     : 0;
        display  : block;
        width    : auto;
        height   : auto;
        z-index  : 5000;

        .image-container {
            position            : absolute;
            top                 : 0;
            right               : 0;
            display             : block;
            width               : 80%;
            height              : 1px;
            padding-bottom      : 80%;
            background-size     : contain !important;
            background          : no-repeat;
            background-position : center center;
        }
    }

    .first-coffee-case-section {
        .image-col {
            padding-top : 16%;

            .mirror-quote-container {
                position : absolute;
                bottom   : -17%;

                .mirror-image {
                    padding-bottom : 0;
                }

                .quote {
                    color : $brand-silver;
                }
            }
        }
        .content-col {
            padding-top    : 10%;
            padding-bottom : 16%;
            .title {
                font-family : Avenir, sans-serif;
                font-size   : 2rem;
                font-weight : normal;
                line-height : 2.1rem;
            }

            .subcontent, p {
                font-size   : 0.9rem;
                line-height : 1.0rem;
            }
        }
    }

    .parent-sliding-section {
        padding-top : 20%;

        .content-col {
            .coffee-logo {
                max-width : 340px;
            }

            .coffee-logo + .title {
                margin-top : 1.5rem;
            }

            .title {
                font-size   : 2.5rem;
                line-height : 2.6rem;
            }

            .subcontent, p {
                font-size   : 0.9rem;
                line-height : 1.0rem;
            }

            p + .link-row-container {
                margin-top : 1.5rem;
            }
        }

        .image-col {
            position       : relative;
            height         : 1px;
            padding-bottom : 52%;

            .background-image-container {
                position            : absolute;
                top                 : 0;
                left                : 0;
                display             : block;
                width               : 100%;
                height              : 100%;
                background-size     : contain;
                background-repeat   : no-repeat;
                background-position : center center;
            }

            .image-container {
                position            : absolute;
                top                 : 0;
                right               : 0;
                display             : block;
                width               : 80%;
                height              : 1px;
                padding-bottom      : 80%;
                opacity             : 0;
                background-size     : contain !important;
                background          : no-repeat;
                background-position : center center;
            }
        }
    }

    .parent-sliding-section + .product-type-section,
    .product-type-section + .product-type-section {
        padding-top : 5%;
    }

    .product-type-section {
        .content-col {
            .title {
                font-size   : 2rem;
                line-height : 2.1rem;
            }

            .subtitle {
                font-size      : 1.46rem;
                line-height    : 1.53rem;
                text-transform : uppercase;
                letter-spacing : 0.3rem;
            }

            .subcontent, p {
                font-size   : 0.8rem;
                line-height : 1rem;
            }

            p + .link-row-container {
                margin-top : 1.5rem;
            }

            .coffee-details-table {
                margin-top     : 8%;
                margin-bottom  : 8%;
                border-top     : 2px solid $brand-silver;
                border-bottom  : 2px solid $brand-silver;
                padding-top    : 6%;
                padding-bottom : 6%;
                font-size      : 0.6rem;
                line-height    : 0.7rem;

                .td {
                    padding-top    : 0.1rem;
                    padding-bottom : 0.1rem;
                    &.td-label {
                        padding-right : 0.8rem;
                        font-weight   : bold;
                    }
                }
            }
        }

        .image-col {
            position       : relative;
            height         : 1px;
            padding-bottom : 52%;

            .bg-image {
                position            : absolute;
                top                 : -10%;
                left                : 10%;
                display             : block;
                width               : 50%;
                height              : 50%;
                background-size     : contain;
                background-repeat   : no-repeat;
                background-position : center center;
                &:after {
                    position : absolute;
                    bottom   : 0;
                    left     : 0;
                    display  : block;
                    content  : '';
                    width    : 100%;
                    height   : 10%;
                }

                .coffee-type-line {
                    position : absolute;
                    bottom   : 0;
                    left     : 0;
                    display  : block;
                    width    : 100%;

                    .fill-line {
                        height : 1.0rem;
                    }
                }
            }

            .image-container {
                position            : absolute;
                top                 : 0;
                right               : 0;
                display             : block;
                width               : 80%;
                height              : 1px;
                padding-bottom      : 80%;
                opacity             : 0;
                background-size     : contain !important;
                background          : no-repeat;
                background-position : center center;
            }
        }
    }

    .last-rail-section {
        padding-top    : 18%;
        padding-bottom : 2%;

        .image-col {
            position       : relative;
            height         : 1px;
            padding-bottom : 52%;

            .image-container {
                position            : absolute;
                top                 : 0;
                right               : 0;
                display             : block;
                width               : 80%;
                height              : 1px;
                padding-bottom      : 80%;
                opacity             : 0;
                background-size     : contain !important;
                background          : no-repeat;
                background-position : center center;
            }
        }

        .content-col {
            .quote {
                display   : inline;
                font-size : 3.1rem;
            }
            .quote-content {
                position       : relative;
                left           : -4rem;
                display        : block;
                width          : 110%;
                padding        : 2.5rem 4rem;
                font-size      : 1.7rem;
                line-height    : 1.8rem;
                font-weight    : normal;
                text-transform : uppercase;
                .quote {
                    position : absolute;
                    display  : block;
                    &.fa-quote-left {
                        top  : 0;
                        left : 0;
                    }
                    &.fa-quote-right {
                        bottom : 0.5rem;
                        right  : 0;
                    }
                }
                p {
                    display : inline;
                }
            }
            .name, .job-role {
                position        : relative;
                top             : -1rem;
                margin-bottom   : 0;
                font-family     : Trade Gothic, sans-serif;
                font-size       : 1.1rem;
                line-height     : 1.2rem;
                text-transform  : uppercase;
                text-decoration : underline;
            }
            .link-row-container {
                margin-top : 2rem;
            }
        }
    }

    /*** MEDIA TWEAKS ***/
    @media screen and (max-width : 991px) {
        .parent-sliding-section + .product-type-section,
        .product-type-section + .product-type-section {
            padding-top : 16%;
        }

        .first-coffee-case-section, .product-type-section, .parent-sliding-section {
            .content-col {
                .subcontent, p {
                    font-size   : 1.1rem;
                    line-height : 1.3rem;
                }
                .coffee-details-table {
                    font-size   : 1.0rem;
                    line-height : 1.1rem;
                }
            }
        }
    }

    @media screen and (max-width : 767px) {
        #sliding-coffee-element {
            display : none !important;
        }

        .first-coffee-case-section {
            .image-col {
                padding-top : 28%;

                .mirror-quote-container {
                    position : relative;
                    bottom   : 0;
                }
            }
        }

        .parent-sliding-section {
            .image-col {
                .image-container {
                    right          : 8%;
                    width          : 50%;
                    padding-bottom : 50%;
                    opacity        : 1 !important;
                }
            }
            .content-col {
                .coffee-logo {
                    max-width : 80%;
                }
            }
        }

        .product-type-section {
            .image-col {
                .image-container {
                    right          : 8%;
                    width          : 50%;
                    padding-bottom : 50%;
                    opacity        : 1 !important;
                }
            }
            .content-col {
                .coffee-details-table {
                    margin-top     : 3%;
                    margin-bottom  : 3%;
                    padding-top    : 4%;
                    padding-bottom : 4%;
                }
            }
        }

        .last-rail-section {
            padding-top    : 5%;
            padding-bottom : 5%;
            .image-col {
                .image-container {
                    position       : relative;
                    width          : 60%;
                    margin         : auto;
                    padding-bottom : 55%;
                    opacity        : 1 !important;
                }
            }
            .content-col {
                .quote-content {
                    left  : 0;
                    width : 100%;
                }
            }
        }
    }

    @media screen and (max-width : 575px) {
        .first-coffee-case-section {
            .image-col {
                padding-top : 5%;
            }
        }
    }
}

/* ==============================
    *COFFEE WORKS
============================== */
.page-template-template-coffee-works {

    .red-bg-text {
        position       : relative;
        display        : inline-block;
        padding        : 1.6rem 4rem;
        color          : #FFFFFF;
        font-family    : Avenir, sans-serif;
        font-size      : 1.7rem;
        font-weight    : bold;
        line-height    : 1.8rem;
        text-align     : center;
        text-transform : uppercase;
        z-index        : 1;

        & > * {
            position : relative;
            z-index  : 2;
        }

        &:before {
            position           : absolute;
            top                : 0;
            left               : 0;
            display            : block;
            content            : '';
            width              : 0;
            height             : 100%;
            background-color   : $brand-primary;
            -webkit-transition : width 0.48s ease;
            -moz-transition    : width 0.48s ease;
            -ms-transition     : width 0.48s ease;
            -o-transition      : width 0.48s ease;
            transition         : width 0.48s ease;
            z-index            : 1;
        }

        &.active:before {
            width : 100%;
        }
    }

    /* ==============================
        *HERO CLASSIC IMAGE - VARIANT
    ============================== */
    /*
        .hero-classic-container.hero-image-classic.hero-image-classic-coffee-works
        {
            >.hero-classic-img
            >.hero-classic-content{
                >.row{
                    >.title-col.col.thick-pad-l.common-pad-r{
                        >h1.title
                        >[LINE CONTAINER]
                        >[.subtitle]
                    }
                    >.logo-col.col.align-self-center{
                        img.hero-logo
                    }
                }
            }
        }
    */

    .hero-classic-container {
        .hero-classic-content {
            width   : 88%;
            padding : 2.5rem 15px 2.5rem 0;

            .title-col {
                padding-top    : 1.8rem;
                padding-bottom : 1.8rem;
                z-index        : 1;

                & > * {
                    z-index : 2;
                }

                &:before {
                    position           : absolute;
                    top                : 0;
                    left               : 0;
                    display            : block;
                    content            : '';
                    width              : 0;
                    height             : 100%;
                    background-color   : $brand-primary;
                    -webkit-transition : width 0.48s ease;
                    -moz-transition    : width 0.48s ease;
                    -ms-transition     : width 0.48s ease;
                    -o-transition      : width 0.48s ease;
                    transition         : width 0.48s ease;
                    z-index            : 1;
                }

                &.active:before {
                    width : 100%;
                }

                .title {
                    position       : relative;
                    margin-bottom  : 0;
                    color          : #FFFFFF;
                    font-family    : Avenir, sans-serif;
                    font-weight    : bold;
                    font-size      : 2.6rem;
                    line-height    : 2.7rem;
                    text-transform : uppercase;
                    letter-spacing : 2px;
                }

                .line-container {
                    max-width  : 65%;
                    margin-top : 0.9rem;
                }

                .subtitle {
                    margin-top    : 0.9rem;
                    margin-bottom : 0;
                    color         : #FFFFFF;
                    font-size     : 1.1rem;
                    p {
                        margin-bottom : 0;
                    }
                    p + p {
                        margin-top : 0.9rem;
                    }
                }
            }
            .logo-col {
                .hero-logo {
                    display   : block;
                    max-width : 80%;
                    margin    : auto;
                }
            }
        }
    }

    /*** SECTIONS ***/
    .video-section {
        &.overlapping-element {
            .image-video-col {
                position       : relative;
                padding-bottom : 16%;
            }
        }

        .prevideo-desc {
            display        : block;
            max-width      : 88%;
            padding-top    : 9%;
            padding-bottom : 9%;
        }

        .image-container, .video-container {
            position          : absolute;
            bottom            : 0;
            left              : $thick-padding;
            display           : block;
            width             : 80%;
            height            : 1px;
            padding-bottom    : 45%;
            -webkit-transform : translateY(50%);
            -moz-transform    : translateY(50%);
            -ms-transform     : translateY(50%);
            -o-transform      : translateY(50%);
            transform         : translateY(50%);
        }

        .image-container {
            position            : absolute;
            bottom              : 0;
            left                : $thick-padding;
            display             : block;
            width               : 80%;
            height              : 1px;
            padding-bottom      : 45%;
            -webkit-transform   : translateY(50%);
            -moz-transform      : translateY(50%);
            -ms-transform       : translateY(50%);
            -o-transform        : translateY(50%);
            transform           : translateY(50%);
            background-size     : cover;
            background-repeat   : no-repeat;
            background-position : center center;
        }

        .video-container {
            .video-js {
                position : absolute !important;
                width    : 100% !important;
                height   : 100% !important;
                .vjs-big-play-button {
                    position          : absolute;
                    top               : 50%;
                    left              : 50%;
                    border            : 0;
                    background        : transparent;
                    background-color  : transparent;
                    font-size         : 7rem;
                    -webkit-transform : translate(-50%, -50%);
                    -moz-transform    : translate(-50%, -50%);
                    -ms-transform     : translate(-50%, -50%);
                    -o-transform      : translate(-50%, -50%);
                    transform         : translate(-50%, -50%);
                }
            }
        }

        /*** MEDIA TWEAKS ***/
        @media screen and (max-width : 767px) {
            &.overlapping-element {
                .image-video-col {
                    padding-bottom : 22%;
                }
            }

            .image-container, .video-container {
                left : 10%;
            }
        }
    }

    .video-section.overlapping-element + .gray-background-section {
        padding-top : 24%;

        /*** MEDIA TWEAKS ***/
        @media screen and (max-width : 767px) {
            padding-top : 30%;
        }
    }

    .gray-background-section.top-gray {
        padding-top      : 8%;
        background-color : #d8d8d8;

        .image-col {
            .image-container {
                position            : relative;
                top                 : 0;
                left                : -15px;
                display             : block;
                width               : 100%;
                height              : 1px;
                padding-bottom      : 175%;
                background-size     : cover;
                background-repeat   : no-repeat;
                background-position : center center;
            }
        }

        .content-col {
            padding-top    : 5%;
            padding-bottom : 5%;
            .section-title {
                position      : relative;
                top           : 0;
                left          : -7.5rem;
                width         : 100%;
                margin-bottom : 2.8rem;
                &:before {
                    background-color : rgba(163, 0, 4, 0.85);
                }
            }
            .title {
                font-size      : 1.7rem;
                line-height    : 1.8rem;
                text-transform : uppercase;
            }

            .number-component + .subcontent {
                margin-top : 0.6rem;
            }

            .subcontent {
                font-size   : 0.8rem;
                line-height : 1.0rem;
            }
        }

        .bottom-content-col {
            padding-top    : 2.8%;
            padding-bottom : 2.5%;
            .subcontent {
                min-height : 10rem;
            }
        }

        .bottom-image-col {
            .image-container {
                position       : absolute;
                top            : -15%;
                left           : 15px;
                right          : 3.6rem;
                width          : auto;
                padding-bottom : 105%;
            }
        }

        /*** MEDIA TWEAKS ***/
        @media screen and (max-width : 767px) {
            .content-col {
                padding-top : 0;
                .section-title {
                    left          : 0;
                    margin-bottom : 1.1rem;
                }
                .subcontent {
                    font-size   : 0.95rem;
                    line-height : 1.25rem;
                }

                &.bottom-content-col {
                    padding-top : 2.4%;
                }
            }

            .image-col {
                .image-container {
                    position       : relative;
                    top            : 0;
                    left           : 0;
                    padding-bottom : 45%;
                }
            }
        }
    }

    section.works-intro {
        margin-bottom : 5%;

        .title-col {
            margin-top    : 5%;
            margin-bottom : 5%;
            padding-left  : 0;

            .section-title {
                padding-left  : $thick-padding;
                padding-right : $thick-padding;
            }
        }

        .subtitle-col {
            padding-left : $thick-padding;

            .subtitle {
                margin-bottom  : 1.2rem;
                padding-right  : $thick-padding;
                font-family    : Avenir, sans-serif;
                font-weight    : bold;
                font-size      : 1.7rem;
                line-height    : 1.8rem;
                text-transform : uppercase;
                letter-spacing : 2px;
            }
        }

        .subcontent-col {
            padding-left : $thick-padding;

            .subcontent {
                font-weight : bold;
            }
        }
    }

    section.coffee-works-vertical-section {
        /*** GENERAL ***/
        .main-col-container {
            padding-left  : 7rem;
            padding-right : 10rem;
        }

        .content-col {
            padding-top    : 1rem;
            padding-bottom : 1rem;

            .title {
                margin-bottom  : 1.2rem;
                font-family    : Avenir, sans-serif;
                font-weight    : 700;
                font-size      : 1.7rem;
                line-height    : 1.8rem;
                text-transform : uppercase;
                letter-spacing : 2px;
            }

            .information-graphs {
                margin-bottom : 7%;
            }

            .micro-title {
                padding-bottom : 0;
                margin-bottom  : 0;
            }

            .percentage-true {
                .canvas-container {
                    position       : absolute;
                    top            : 0;
                    left           : 0;
                    display        : block;
                    width          : 100%;
                    height         : 1px;
                    padding-bottom : 100%;
                    canvas {
                        position : absolute;
                        top      : 0;
                        left     : 0;
                        display  : block;
                        width    : 100%;
                        height   : 100%;
                    }
                }
                .number-component {
                    .cypher {
                        font-size   : 2.5rem;
                        line-height : 2.6rem;
                    }
                }
            }

            .number-component {
                .col {
                    text-align : center;
                }
                & > .row > .col:nth-child(2) {
                    position       : relative;
                    top            : 0;
                    left           : 0;
                    display        : block;
                    width          : 100%;
                    height         : 1px;
                    padding-bottom : 100%;
                }
                .row.flex-nowrap {
                    position          : absolute;
                    top               : 50%;
                    left              : 50%;
                    display           : block;
                    width             : auto;
                    flex-grow         : 0;
                    flex-shrink       : 1;
                    flex-basis        : auto;
                    flex-wrap         : wrap !important; //this needs to overwrite the bootstrap class the number component has normally
                    text-align        : center;
                    -webkit-transform : translate(-50%, -50%);
                    -moz-transform    : translate(-50%, -50%);
                    -ms-transform     : translate(-50%, -50%);
                    -o-transform      : translate(-50%, -50%);
                    transform         : translate(-50%, -50%);
                    .col.number-col {
                        padding : 0 1.2rem 1.2rem 1.2rem;
                        .number-container {
                            left : -0.5rem;
                        }
                    }
                    .col:nth-child(2) {
                        position : absolute;
                        top      : 0;
                        left     : 0;
                        display  : block;
                        width    : 100%;
                        height   : 100%;
                        .uom {
                            position    : relative;
                            left        : -0.5rem;
                            padding-top : 1rem;
                            font-size   : 0.8rem;
                            line-height : 0.9rem;
                            text-align  : right;
                        }
                        .text {
                            position    : absolute;
                            bottom      : 0;
                            left        : 0;
                            display     : block;
                            width       : 100%;
                            text-align  : center;
                            font-size   : 0.8rem;
                            line-height : 0.9rem;
                        }
                    }
                }
            }
        }

        .description { // this can be either inside the content col or outside
            font-size   : .9rem;
            line-height : 1.2rem;
        }

        /****************************/
        /***  POSITIONING CHANGES ***/
        &.section-aligned-left {
            &.image-back {
                .content-col {
                    .content-inner-container {
                        padding : 1.2rem 0.3rem 1.2rem 2.0rem;

                        &:before {
                            left  : auto;
                            right : -15px;
                            width : 212%;
                        }
                    }
                }

                .image-col {
                    .image-container {
                        width : 110%;
                    }
                }
            }

            .image-col {
                .image-container {
                    right : 0;
                }
            }
        }

        &.section-aligned-right {
            .content-col { //General
                padding-left : 0;
            }

            &.image-back {
                .image-col {
                    .image-container {
                        left : 2.1rem;
                    }
                }
            }

            &.image-fore {
                .content-col {
                    .content-inner-container {
                        padding : 1.2rem 2.0rem;
                    }
                }

                .image-col {
                    .image-container {
                        left           : 0;
                        padding-bottom : 110%;
                    }
                }
            }
        }

        /**********************************/
        /***  IMAGE BOUNDARIES CHANGES  ***/
        &.image-fore {
            .main-col-container {
                & > .row:nth-child(1) {
                    border : 2px solid $brand-primary;
                }
            }

            .image-col {
                .image-container {
                    position            : absolute;
                    top                 : 0;
                    width               : 110%;
                    height              : 1px;
                    padding-bottom      : 80%;
                    background-size     : contain;
                    background-repeat   : no-repeat;
                    background-position : center center;
                }
            }

            .image-fore-sibling-row {
                .content-col {
                    padding-bottom : 11%;
                }
            }
        }

        &.image-back {
            .content-col {
                padding-top    : 23%;
                padding-bottom : 23%;
                .content-inner-container {
                    position : relative;
                    padding  : 1.2rem 2.0rem;
                    &:before {
                        position : absolute;
                        top      : 0;
                        left     : 0;
                        display  : block;
                        content  : '';
                        width    : 176%;
                        height   : 100%;
                        border   : 2px solid $brand-primary;
                    }
                }
            }
            .image-col {
                .image-container {
                    position            : absolute;
                    top                 : 0;
                    width               : 118%;
                    height              : 100%;
                    background-size     : cover;
                    background-repeat   : no-repeat;
                    background-position : center center;
                    -webkit-transition  : height 0.35s ease;
                    -moz-transition     : height 0.35s ease;
                    -ms-transition      : height 0.35s ease;
                    -o-transition       : height 0.35s ease;
                    transition          : height 0.35s ease;
                }
            }
        }

        /***********                      **********/
        /*** CONSECUTIVE && ORDER SECTIONS RULES ***/
        &.image-back + .image-fore {
            margin-top : 8%;
        }

        /**********************/
        /***  MEDIA TWEAKS  ***/
        @media screen and (min-width : 768px) and (max-width : 1599px) {
            .content-col {
                .percentage-true {
                    .number-component {
                        .cypher {
                            font-size   : 2rem;
                            line-height : 2.1rem;
                        }
                    }

                    .canvas-container {
                        left           : -4%;
                        display        : block;
                        width          : 108%;
                        height         : 1px;
                        padding-bottom : 108%;
                    }
                }
            }
        }

        @media screen and (max-width : 1599px) {
            .content-col {
                .number-component {
                    .row.flex-nowrap {
                        .col.number-col {
                            padding : 0.5rem 1.2rem 0.8rem 1.2rem;
                            .number-container {
                                left : -.3rem;
                            }
                        }
                        .col:nth-child(2) {
                            .uom {
                                left        : -0.7rem;
                                padding-top : 0.8rem;
                                font-size   : 0.6rem;
                                line-height : 0.7rem;
                                text-align  : right;
                            }
                            .text {
                                font-size      : 0.6rem;
                                line-height    : 0.7rem;
                                letter-spacing : 3px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width : 992px) and (max-width : 1349px) {
            .content-col {
                .percentage-true {
                    .number-component {
                        .cypher {
                            font-size   : 1.6rem;
                            line-height : 1.7rem;
                        }
                    }
                }
                .number-component {
                    .row.flex-nowrap {
                        .col.number-col {
                            padding : 0.5rem 1.2rem 0.8rem 1.2rem;
                            .number-container {
                                left : -.3rem;
                            }
                        }
                        .col:nth-child(2) {
                            .uom {
                                left        : -0.7rem;
                                padding-top : 0.8rem;
                            }
                            .text {
                                font-size      : 0.5rem;
                                line-height    : 0.6rem;
                                letter-spacing : 2px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width : 768px) and (max-width : 991px) {
            /*** GENERAL ***/
            .main-col-container {
                padding-left  : 4rem;
                padding-right : 4rem;
            }
        }

        @media screen and (max-width : 767px) {
            .content-col {
                .percentage-true {
                    .number-component {
                        .cypher {
                            font-size   : 4.5rem;
                            line-height : 4.6rem;
                        }
                    }
                }

                .number-component {
                    .row.flex-nowrap {
                        .col:nth-child(2) {
                            .uom {
                                font-size   : 0.9rem;
                                line-height : 1.0rem;
                            }
                            .text {
                                font-size      : 0.9rem;
                                line-height    : 1.0rem;
                                letter-spacing : 2px;
                            }
                        }
                    }
                }
            }

            /***  IMAGE BOUNDARIES CHANGES  ***/
            &.image-fore {
                margin-top : 30%;
                .image-col {
                    padding-bottom : 30%;
                    .image-container {
                        top            : -100%;
                        padding-bottom : 60%;
                    }
                }
            }

            &.image-back {
                .image-col {
                    .image-container {
                        height         : 1px;
                        padding-bottom : 45%;
                    }
                }

                .content-col {
                    padding-bottom : 12%;
                }
            }

            /***  POSITIONING CHANGES ***/
            &.section-aligned-left {
                .main-col-container {
                    padding-left  : 0;
                    padding-right : 35px;
                }

                &.image-fore {
                    .content-col {
                        .content-inner-container {
                            padding-left : 15px;
                        }
                    }
                    .image-fore-sibling-row .content-col {
                        .description,
                        .link-row-container {
                            padding-left : 15px;
                        }
                    }
                }

                &.image-back {
                    .image-col {
                        .image-container {
                            right : 2.1rem;
                        }
                    }
                    .content-col {
                        .content-inner-container {
                            padding-top : 26%;
                        }
                    }
                }
            }

            &.section-aligned-right {
                .main-col-container {
                    padding-left  : 35px;
                    padding-right : 0;
                }

                &.image-fore {
                    .image-col {
                        .image-container {
                            padding-bottom : 60%;
                        }
                    }
                }
                &.image-back {
                    .content-col {
                        .content-inner-container {
                            padding-top : 26%;
                        }
                    }
                }
            }

            /*** CONSECUTIVE && ORDER SECTIONS RULES ***/
            &.image-back + .image-fore {
                margin-top : 30%;
            }
        }

        @media screen and (max-width : 479px) {
            .content-col {
                .percentage-true {
                    .number-component {
                        .cypher {
                            font-size   : 3.2rem;
                            line-height : 3.3rem;
                        }
                    }
                }
            }
        }

        @media screen and (max-width : 399px) {
            .content-col {
                .percentage-true {
                    .number-component {
                        .cypher {
                            font-size   : 2.2rem;
                            line-height : 2.3rem;
                        }

                        & > .row > .col:nth-child(2) {
                            margin-bottom : 19%;
                        }

                        .row.flex-nowrap {
                            top               : 0;
                            left              : 0;
                            width             : 100%;
                            height            : 100%;
                            -webkit-transform : none;
                            -moz-transform    : none;
                            -ms-transform     : none;
                            -o-transform      : none;
                            transform         : none;

                            .col.number-col {
                                position          : absolute;
                                top               : 56%;
                                left              : 50%;
                                padding           : 0 1.2rem;
                                -webkit-transform : translate(-50%, -50%);
                                -moz-transform    : translate(-50%, -50%);
                                -ms-transform     : translate(-50%, -50%);
                                -o-transform      : translate(-50%, -50%);
                                transform         : translate(-50%, -50%);
                            }
                            .col:nth-child(2) {
                                .label-container {
                                    position    : absolute;
                                    top         : 0;
                                    left        : 0;
                                    display     : block;
                                    width       : 100%;
                                    height      : 100%;
                                    padding-top : 0;
                                }
                                .uom {
                                    left        : -1.3rem;
                                    padding-top : 45%;
                                }

                                .text {
                                    top    : 100%;
                                    bottom : auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* FIRST SECTION BACK IMAGE */
    .works-intro + .coffee-works-vertical-section.image-back {
        .content-col {
            padding-top : 0;
        }
    }

    .gray-background-section.bottom-gray {
        margin-top       : 8%;
        padding-top      : 0;
        background-color : #d8d8d8;
        .top-block {
            .image-col {
                .image-container {
                    position            : absolute;
                    top                 : -16%;
                    left                : 0;
                    display             : block;
                    width               : 122%;
                    padding-bottom      : 125%;
                    background-size     : contain;
                    background-position : center center;
                    background-repeat   : no-repeat;
                }
            }
            .content-col {
                padding-top : 8%;
                .description {
                    margin-top  : 1.3rem;
                    font-size   : 0.9rem;
                    line-height : 1.2rem;
                }
            }
        }

        .middle-block {
            margin-top : 5%;

            .image-col {
                .image-container {
                    position            : absolute;
                    top                 : 0;
                    left                : 0;
                    right               : $common-padding;
                    display             : block;
                    width               : auto;
                    height              : 100%;
                    background-size     : cover;
                    background-position : center center;
                    background-repeat   : no-repeat;
                }
            }
            .content-col {
                padding-top    : 22%;
                padding-bottom : 18%;
                .subtitle {
                    font-family    : Avenir, sans-serif;
                    font-size      : 1.7rem;
                    font-weight    : bold;
                    line-height    : 1.8rem;
                    text-transform : uppercase;
                }
                .description {
                    margin-top  : 1.3rem;
                    font-size   : 0.9rem;
                    line-height : 1.2rem;
                }
            }
        }

        .bottom-block {
            .image-col {
                padding-left : 5rem;
                .mirror-quote-container {
                    top : -15%;
                    .mirror-image-container {
                        z-index : 3;
                        .mirror-image {
                            position : relative;
                        }
                    }
                    .mirror-box {
                        padding-bottom : 65%;
                    }
                }
            }

            .content-col {
                padding-top    : 24%;
                padding-bottom : 13%;

                .top-links {
                    position       : absolute;
                    top            : 0;
                    right          : 0;
                    display        : block;
                    width          : 100%;
                    height         : 1px;
                    padding-bottom : 42%;
                    .line-container {
                        position  : absolute;
                        top       : 50%;
                        right     : 0;
                        display   : block;
                        width     : 6.2rem;
                        transform : translateY(-8px);
                    }

                    .link-row-container {
                        position          : absolute;
                        top               : 50%;
                        right             : 7rem;
                        -webkit-transform : translateY(-50%);
                        -moz-transform    : translateY(-50%);
                        -ms-transform     : translateY(-50%);
                        -o-transform      : translateY(-50%);
                        transform         : translateY(-50%);
                        .link-btn {
                            padding   : 0.1rem 0.8rem;
                            font-size : 1rem;
                        }
                    }
                }

                .subtitle {
                    padding-right  : $thick-padding;
                    font-family    : Avenir, sans-serif;
                    font-size      : 1.7rem;
                    font-weight    : bold;
                    line-height    : 1.8rem;
                    text-transform : uppercase;
                }
                .description {
                    padding-right : $thick-padding;
                }
            }
        }

        /*** MEDIA TWEAKS ***/
        @media screen and (max-width : 767px) {
            margin-top : 20%;

            .top-block {
                .image-col {
                    .image-container {
                        position          : absolute;
                        top               : 0;
                        left              : 0;
                        display           : block;
                        width             : 100%;
                        height            : 1px;
                        padding-bottom    : 45%;
                        -webkit-transform : translateY(-50%);
                        -moz-transform    : translateY(-50%);
                        -ms-transform     : translateY(-50%);
                        -o-transform      : translateY(-50%);
                        transform         : translateY(-50%);
                    }
                }
                .content-col {
                    padding-top : 24%;
                }
            }

            .middle-block {
                margin-top : 10%;
                .image-col {
                    .image-container {
                        position       : relative;
                        top            : 0;
                        left           : 0;
                        display        : block;
                        height         : 1px;
                        padding-bottom : 45%;
                    }
                }
                .content-col {
                    padding-top    : 1.2rem;
                    padding-bottom : 10%;
                }
            }

            .bottom-block {
                .image-col {
                    .mirror-quote-container {
                        top            : 0;
                        padding-bottom : 0;
                        margin-bottom  : 0;
                        .mirror-box {
                            height         : 1px;
                            padding-bottom : 37%;
                        }
                    }
                }
                .content-col {
                    padding-top    : 14%;
                    padding-bottom : 6%;
                    .top-links {
                        padding-bottom : 15%;
                    }
                }
            }
        }
    }
}

/* ==============================
    *BLOG
============================== */
.blog {
    section.first-post {
        .image-col {
            position      : relative;
            z-index       : 1;
            padding-top   : 0;
            padding-right : 2rem;
            .mirror-quote-container {
                padding-top : 0;
                .mirror-image {
                    position : relative;
                }
            }
        }
        .content-col {
            position : relative;
            z-index  : 2;
            .date {
                margin-top     : 9%;
                margin-bottom  : 4%;
                text-transform : uppercase;
            }
            .line-container {
                left          : -70%;
                width         : 140%;
                margin-bottom : 6%;
                .fill-line {
                    left  : auto;
                    right : 0;
                }
            }
            h3 {
                font-size   : 1.5rem;
                line-height : 1.6rem;
            }
        }
    }

    section.more-news {
        margin-top : 8%;

        .line-container {
            width         : 60%;
            margin-bottom : 7%;
        }

        .col:nth-child(odd) {
            padding-right : 3%;
        }

        .col:nth-child(even) {
            padding-right : 3%;
        }

        article {
            padding-bottom : 18%;
            .title {
                margin-bottom : 0.6rem;
                a {
                    display        : inline-block;
                    color          : $brand-secondary;
                    font-family    : Trade Gothic, sans-serif;
                    font-weight    : 700;
                    font-size      : 2.2rem;
                    line-height    : 2.2rem;
                    text-transform : uppercase;
                    letter-spacing : 6px;
                }
            }

            .image-container {
                position            : relative;
                display             : block;
                width               : 100%;
                height              : 1px;
                margin-bottom       : 0.8rem;
                padding-bottom      : 56%;
                background-color    : #dedede;
                background-size     : cover;
                background-position : center center;
                background-repeat   : no-repeat;
            }

            .subcontent {
                color         : $brand-secondary;
                margin-bottom : 0.8rem;
                a, a:hover, a:active {
                    color           : $brand-secondary;
                    text-decoration : none;
                    p {
                        margin-bottom : 0;
                    }

                    p + p {
                        margin-top : 0.5rem;
                    }
                }
            }

            .moretag {
                display : block;
            }
        }
    }

    .blog-load-more {
        .load-more-btn-container {
            position   : relative;
            display    : block;
            width      : 100%;
            text-align : center;

            .load-more-btn-inner {
                position           : relative;
                display            : inline-block;
                width              : auto;
                overflow           : hidden;
                border             : 3px solid $brand-secondary;
                padding            : 0.28rem 1.5rem;
                color              : $brand-secondary;
                font-size          : 1.15rem;
                font-weight        : bold;
                text-align         : center;
                text-transform     : uppercase;
                text-decoration    : none;
                z-index            : 1;
                -webkit-transition : color 0.33s ease;
                -moz-transition    : color 0.33s ease;
                -ms-transition     : color 0.33s ease;
                -o-transition      : color 0.33s ease;
                transition         : color 0.33s ease;
                white-space        : nowrap;
                cursor             : pointer;

                a, a:hover, a:visited, a:active {
                    position           : relative;
                    display            : inline-block;
                    color              : $brand-secondary;
                    text-decoration    : none;
                    -webkit-transition : color 0.33s ease;
                    -moz-transition    : color 0.33s ease;
                    -ms-transition     : color 0.33s ease;
                    -o-transition      : color 0.33s ease;
                    transition         : color 0.33s ease;
                    z-index            : 5;
                }

                &:active, &:hover, &:visited {
                    text-decoration : none;
                }

                &:before,
                &:after {
                    position           : absolute;
                    top                : 0;
                    left               : 0;
                    display            : block;
                    content            : '';
                    width              : 100%;
                    height             : 100%;
                    background-color   : rgba(0, 0, 0, 0.75);
                    -webkit-transition : transform 0.33s ease;
                    -moz-transition    : transform 0.33s ease;
                    -ms-transition     : transform 0.33s ease;
                    -o-transition      : transform 0.33s ease;
                    transition         : transform 0.33s ease;
                    z-index            : 2;
                }

                &:before {
                    -webkit-transform : translate(-100%, -100%);
                    -moz-transform    : translate(-100%, -100%);
                    -ms-transform     : translate(-100%, -100%);
                    -o-transform      : translate(-100%, -100%);
                    transform         : translate(-100%, -100%);
                }
                &:after {
                    -webkit-transform : translate(100%, 100%);
                    -moz-transform    : translate(100%, 100%);
                    -ms-transform     : translate(100%, 100%);
                    -o-transform      : translate(100%, 100%);
                    transform         : translate(100%, 100%);
                }

                &:hover {
                    color : #FFFFFF;

                    a {
                        color : #FFFFFF;
                    }

                    &:before,
                    &:after {
                        -webkit-transform : translate(0, 0);
                        -moz-transform    : translate(0, 0);
                        -ms-transform     : translate(0, 0);
                        -o-transform      : translate(0, 0);
                        transform         : translate(0, 0);
                    }
                }

            }
        }
    }

    /*** MEDIA TWEAKS ***/
    @media screen and (max-width : 767px) {
        section.first-post {
            .content-col {
                .date {
                    margin-top    : 3%;
                    margin-bottom : 3%;
                }

                .line-container {
                    left  : 0;
                    width : 60%;
                }
            }
        }

        section.more-news {
            article {
                padding-bottom : 10%;
            }
        }
    }
}

/* ==============================
    *SINGLE POST
============================== */
.single-post-section {
    .image-col {
        position      : relative;
        z-index       : 1;
        padding-top   : 0;
        padding-right : 2rem;
        .mirror-quote-container {
            padding-top : 0;
            .mirror-image {
                position : relative;
            }
        }
        .link-row-container {
            padding-top : 12%;
        }
    }
    .content-col {
        position : relative;
        z-index  : 2;
        .date {
            margin-top     : 9%;
            margin-bottom  : 4%;
            text-transform : uppercase;
        }
        .line-container {
            left          : -70%;
            width         : 140%;
            margin-bottom : 6%;
            .fill-line {
                left  : auto;
                right : 0;
            }
        }

        h3 {
            font-size   : 1.5rem;
            line-height : 1.6rem;
        }

        img {
            display   : block;
            max-width : 100%;
            height    : auto;
        }

        .prev-and-next-container {
            position      : relative;
            display       : block;
            width         : 100%;
            height        : 50px;
            padding-right : $thick-padding;

            a {
                position : relative;
                display  : inline-block;

                &[rel='prev'] {
                    float : right;
                    span:before {
                        right            : 110%;
                        transform-origin : right center;
                    }
                }
                &[rel='next'] {
                    float : left;
                    span:before {
                        left             : 110%;
                        transform-origin : left center;
                    }
                }

                &:hover span:before {
                    -webkit-transform : translateY(-50%) scale(1);
                    -moz-transform    : translateY(-50%) scale(1);
                    -ms-transform     : translateY(-50%) scale(1);
                    -o-transform      : translateY(-50%) scale(1);
                    transform         : translateY(-50%) scale(1);
                }
            }

            .prev-post-link,
            .next-post-link {
                position         : relative;
                display          : block;
                width            : 50px;
                height           : 50px;
                color            : #FFFFFF;
                background-color : $brand-primary;
                i {
                    position          : absolute;
                    top               : 50%;
                    left              : 50%;
                    display           : block;
                    -webkit-transform : translate(-50%, -50%);
                    -moz-transform    : translate(-50%, -50%);
                    -ms-transform     : translate(-50%, -50%);
                    -o-transform      : translate(-50%, -50%);
                    transform         : translate(-50%, -50%);
                }

                &:before {
                    position           : absolute;
                    top                : 50%;
                    display            : block;
                    content            : attr(data-hover);
                    color              : $brand-secondary;
                    font-size          : 0.8rem;
                    -webkit-transition : transform 0.28s ease;
                    -moz-transition    : transform 0.28s ease;
                    -ms-transition     : transform 0.28s ease;
                    -o-transition      : transform 0.28s ease;
                    transition         : transform 0.28s ease;
                    -webkit-transform  : translateY(-50%) scale(0);
                    -moz-transform     : translateY(-50%) scale(0);
                    -ms-transform      : translateY(-50%) scale(0);
                    -o-transform       : translateY(-50%) scale(0);
                    transform          : translateY(-50%) scale(0);
                }
            }
        }
    }

    @media screen and (min-width : 768px) {
        .image-col {
            .mirror-quote-container {
                .mirror-image {
                    padding-bottom : 170%;
                }
            }
        }
    }
    @media screen and (max-width : 767px) {
        .image-col {
            padding-right : 1rem;
            .mirror-quote-container {
                .mirror-box {
                    height : 88%;
                }
            }
        }

        .content-col {
            .prev-and-next-container {
                padding-right : 0;
                font-size     : 1.8rem;

                .prev-post-link,
                .next-post-link {
                    &:before {
                        font-size : 1rem;
                    }
                }
            }
        }
    }
}

/* ==============================
    *SIDE PRODUCTS
============================== */
.page-template-template-side-products {
    .sub-hero-component {
        padding-top    : 0;
        padding-bottom : 0;
        .content-col {
            padding-top    : 6.5rem;
            padding-bottom : 6.5rem;
            .title {
                margin-bottom : 1.3rem;
            }
        }
    }
}

.side-products-category {
    position         : relative;
    z-index          : 1;
    padding-top      : 6%;
    padding-bottom   : 6%;
    color            : #FFFFFF;
    background-color : $brand-secondary;

    .red-bg-text {
        position       : relative;
        display        : inline-block;
        padding        : 0.2rem 0.4rem;
        color          : #FFFFFF;
        font-family    : Avenir, sans-serif;
        font-size      : 0.7rem;
        font-weight    : bold;
        line-height    : 1rem;
        text-align     : center;
        text-transform : uppercase;
        z-index        : 1;

        & > * {
            position : relative;
            z-index  : 2;
        }

        &:before {
            position           : absolute;
            top                : 0;
            left               : 0;
            display            : block;
            content            : '';
            width              : 0;
            height             : 100%;
            background-color   : $brand-primary;
            -webkit-transition : width 0.48s ease;
            -moz-transition    : width 0.48s ease;
            -ms-transition     : width 0.48s ease;
            -o-transition      : width 0.48s ease;
            transition         : width 0.48s ease;
            z-index            : 1;
        }

        &.active:before {
            width : 100%;
        }
    }

    .content-col {
        position    : relative;
        z-index     : 2;
        padding-top : 6%;

        .title {
            padding-left   : 2rem;
            padding-bottom : 0.5rem;
        }

        .line-container {
            padding-bottom : 2rem;
        }

        .subcontent {
            padding-left   : 2rem;
            padding-bottom : 2.3rem;
        }

        .select-col {

        }

        .logo-col {
            position   : relative;
            min-height : 7rem;
            .logo-container {
                position            : absolute;
                top                 : 0;
                left                : 0;
                display             : none;
                width               : 100%;
                height              : 100%;
                background-size     : contain;
                background-repeat   : no-repeat;
                background-position : center center;
                &:nth-child(1) {
                    display : block;
                }
            }
        }

        .select-the-range-col {
            a {
                display : none;
                width   : 135%;
                &:nth-child(1) {
                    display : inline-block;
                }
            }
        }
    }

    .image-col {
        position : relative;
        z-index  : 1;
        .mirror-quote-container {
            width       : 90%;
            margin-left : auto;
            .mirror-box {
                height         : 100%;
                padding-bottom : 0;
            }
            .mirror-image {
                position : relative;
            }
        }
    }
}