/* ==============================
    *RED LINE
============================== */
/*
    .line-container [?vertical-line] [?thick] [?docked-variant] [?no-image]
    [
        >.fill-line [red-line/dark-line/white-line]
    ]
*/
.line-container {
    position : relative;
    display  : block;
    width    : 100%;
    height   : 2px;

    /* thicker line */
    &.thick {
        height : 6px;
        .fill-line {
            height : 6px;
        }
    }

    .red-line {
        background-color : $brand-primary;
    }

    .dark-line {
        background-color : $brand-secondary;
    }

    .white-line {
        background-color : #FFFFFF;
    }

    .fill-line {
        position : absolute;
        top      : 0;
        display  : block;
        width    : 20%;
        height   : 2px;
    }

    /* vertical variant */
    &.vertical-line {
        width  : 2px;
        height : auto;

        &.thick {
            width : 6px;
            .fill-line {
                width  : 6px;
                height : 0;
            }
        }
    }

    /* different docking points */
    &.docked-bottom {
        .fill-line {
            top    : auto;
            bottom : 0;
        }
    }

    &.docked-right {
        .fill-line {
            left  : auto;
            right : 0;
        }
    }

    /******************/
    /*  MOBILE TWEAKS */
    @media screen and (max-width : 767px) {
        &.thick,
        &.thick .fill-line {
            height : 5px;
        }

        &.vertical-line.thick,
        &.vertical-line.thick .fill-line {
            width : 5px;
        }
    }
}

/* ==============================
    *RED LINE - MULTI LINE
============================== */
/*
    .line-container.multi-line [?thick]
    [
        >.fill-line.top [docked-left/docked-right] [data-order]
        >.fill-line.left [docked-top/docked-bottom] [data-order]
        >.fill-line.right [docked-top/docked-bottom] [data-order]
        >.fill-line.bottom [docked-left/docked-right] [data-order]
    ]
*/
.line-container-multi-line {
    width          : 60%;
    padding-bottom : 60%;

    /* Lines dimensions */
    .fill-line {
        &.top, &.bottom {
            height : 2px;
        }
        &.left, &.right {
            width : 2px;
        }
    }

    &.thick {
        .fill-line {
            &.top, &.bottom {
                height : 6px;
            }
            &.left, &.right {
                width : 6px;
            }
        }
    }

    /* Lines Positions */
    .fill-line {
        position : absolute;
        display  : block;
        width    : 0;

        &.top {
            top : 0;
        }
        &.right {
            right : 0;
        }
        &.bottom {
            bottom : 0;
        }
        &.left {
            left : 0;
        }

        &.top, &.bottom {
            &.docked-left {
                left : 0;
            }
            &.docked-right {
                right : 0;
            }
        }

        &.left, &.right {
            &.docked-top {
                top : 0;
            }
            &.docked-bottom {
                bottom : 0;
            }
        }

    }
}

/* ==============================
    *SLIDE IN IMAGES
============================== */
/*
    .slide-in-img.slide-from-****-img
 */

.slide-in-img {
    .slide-from-left-img {
        -webkit-transform : translateX(-65px);
        -moz-transform    : translateX(-65px);
        -ms-transform     : translateX(-65px);
        -o-transform      : translateX(-65px);
        transform         : translateX(-65px);
    }
    .slide-from-right-img {
        -webkit-transform : translateX(65px);
        -moz-transform    : translateX(65px);
        -ms-transform     : translateX(65px);
        -o-transform      : translateX(65px);
        transform         : translateX(65px);
    }
}

/* ==============================
    *MIRROR QUOTE
============================== */
/*
    .mirror-quote-container [text-left/right] [top-quote/bottom-quote] [?no-image]
    {
        >.mirror-box
        >.quote
        >?.mirror-image-container
    }
*/
.mirror-quote-container {
    position : relative;
    display  : block;

    & > * {
        position : relative;
        z-index  : 1;
    }

    /************ MIRROR BOX *************/

    /* GENERAL RULES */
    .mirror-box {
        position       : absolute;
        display        : block;
        content        : '';
        width          : 100%;
        height         : 1px;
        padding-bottom : 115%;
        z-index        : 2;

        /* Common coloring classes for lines */
        .mirror-box-line {
            background-color : $brand-secondary;
        }

        &.red-lines .mirror-box-line {
            background-color : $brand-primary;
        }
        &.white-lines .mirror-box-line {
            background-color : #FFFFFF;
        }
        &.silver-lines .mirror-box-line {
            background-color : $brand-silver;
        }

        /* default positioning for the lines */
        .mirror-box-line {
            position : absolute;
            display  : block;
        }

        .top {
            top : 0;
        }
        .right {
            right : 0;
        }
        .bottom {
            bottom : 0;
        }
        .left {
            left : 0;
        }

        /* default thickness for the lines*/
        .top, .bottom {
            height : 3px;
        }

        .left, .right {
            width : 3px;
        }
    }

    &.text-right {
        .quote {
            text-align : left;
        }
    }

    &.text-left {
        .quote {
            text-align : right;
        }
    }

    /*
        POSITIONING OF THE LINES +
        POSITIONING OF THE IMAGE
        **THIS WILL AFFECT THEIR ANIMATIONS
    */

    /*** VERTICAL ALIGN - TOP ***/
    &.top-quote {
        &.text-right .mirror-box {
            top               : 0;
            left              : 0;
            -webkit-transform : translate(28, 28);
            -moz-transform    : translate(28, 28);
            -ms-transform     : translate(28, 28);
            -o-transform      : translate(28, 28);
            transform         : translate(28, 28);

            .top {
                width : 0;
                right : 0;
            }
            .left {
                height : 0;
                bottom : 0;
            }
            .bottom {
                width : 100%;
                left  : 0;
            }
            .right {
                height : 100%;
                top    : 0;
            }
        }

        &.text-left .mirror-box {
            top               : 0;
            right             : 0;
            -webkit-transform : translate(-28, 28);
            -moz-transform    : translate(-28, 28);
            -ms-transform     : translate(-28, 28);
            -o-transform      : translate(-28, 28);
            transform         : translate(-28, 28);
            .top {
                width : 0;
                left  : 0;
            }
            .right {
                height : 0;
                bottom : 0;
            }
            .bottom {
                width : 100%;
                left  : 0;
            }
            .left {
                height : 100%;
                top    : 0;
            }
        }

        .mirror-image-container {
            .mirror-image {
                top : 0;
            }
        }
    }

    /*** VERTICAL ALIGN - BOTTOM ***/
    &.bottom-quote {
        padding-top : 100%;
        &.text-right .mirror-box {
            bottom            : 0;
            left              : 0;
            right             : auto;
            -webkit-transform : translate(28, 28);
            -moz-transform    : translate(28, 28);
            -ms-transform     : translate(28, 28);
            -o-transform      : translate(28, 28);
            transform         : translate(28, 28);

            .top {
                width : 0;
                right : 0;
            }
            .left {
                top    : 0;
                height : 0;
            }
            .bottom {
                width : 0;
                right : 0;
            }
            .right {
                height : 0;
                top    : 0;
            }
        }

        &.text-left .mirror-box {
            bottom            : 0;
            right             : 0;
            left              : auto;
            -webkit-transform : translate(-28, 28);
            -moz-transform    : translate(-28, 28);
            -ms-transform     : translate(-28, 28);
            -o-transform      : translate(-28, 28);
            transform         : translate(-28, 28);
            .top {
                width : 0;
                left  : 0;
            }
            .right {
                height : 0;
                bottom : 0;
            }
            .bottom {
                width : 0;
                left  : 0;
            }
            .left {
                height : 0;
                top    : 0;
            }
        }

        .mirror-image-container {
            .mirror-image {
                bottom : 0;
            }
        }
    }

    /*** QUOTE ***/
    .quote {
        display        : block;
        margin-bottom  : 0;
        padding        : 1.5rem 1.3rem;
        font-size      : 1.5rem;
        line-height    : 1.6rem;
        text-transform : uppercase;
    }

    /*** MIRROR IMAGE CONTAINER ***/
    .mirror-image-container {
        width   : 100%;
        opacity : 0;
        .mirror-image {
            position            : absolute;
            display             : block;
            width               : 100%;
            height              : 1px;
            padding-bottom      : 128%;
            background-size     : cover;
            background-repeat   : no-repeat;
            background-position : center center;
        }
    }

    &.text-left {
        .mirror-image-container .mirror-image {
            right : 19%;
        }

        &.image-offset-plus .mirror-image-container .mirror-image {
            right : 42%;
        }
    }

    &.text-right {
        .mirror-image-container .mirror-image {
            left : 19%;
        }

        &.image-offset-plus .mirror-image-container .mirror-image {
            left : 42%;
        }
    }

    /*** MOBILE TWEAKS ***/
    @media screen and (min-width : 576px) and (max-width : 767px) {
        &.top-quote {
            padding-bottom : 35%;
            margin-bottom  : 13%;
        }

        &.bottom-quote {
            padding-top : 35%;
        }
    }

    @media screen and (max-width : 767px) {
        .mirror-box {
            width          : 112%;
            height         : 100%;
            padding-bottom : 0;
        }

        .mirror-image-container {
            .mirror-image {
                padding-bottom : 50%;
            }
        }

        &.text-left {
            .mirror-image-container .mirror-image {
                right : 14%;
            }

            &.image-offset-plus .mirror-image-container .mirror-image {
                right : 31%;
            }
        }

        &.text-right {
            .mirror-image-container .mirror-image {
                left : 14%;
            }

            &.image-offset-plus .mirror-image-container .mirror-image {
                left : 31%;
            }
        }
    }

    @media screen and (max-width : 575px) {
        &.bottom-quote {
            padding-top : 0;
        }

        .mirror-box {
            z-index        : 1;
            padding-bottom : 45%;
        }

        &.top-quote,
        &.bottom-quote {
            &.text-right {
                .mirror-box {
                    left  : auto;
                    right : 0;
                    width : 130%;
                }
            }

            &.text-left {
                .mirror-box {
                    left  : 0;
                    right : auto;
                    width : 130%;
                }
            }
        }

        &.text-left, &.text-left.image-offset-plus,
        &.text-right, &.text-right.image-offset-plus {
            .mirror-image-container {
                width        : auto;
                margin-left  : -15px;
                margin-right : -15px;
                z-index      : 2;

                .mirror-image {
                    position       : relative;
                    left           : 0;
                    right          : auto;
                    padding-bottom : 45%;
                }
            }
        }
    }
}

/* ==============================
    *NUMBER COMPONENT
============================== */
.number-component {
    position : relative;
    display  : block;

    .micro-title {
        text-transform : uppercase;
    }

    .number-col {
        flex-grow : 0;
    }

    /*Zero that appears only at the end of the animation */
    .cypher.temp-zero {
        float          : left;
        position       : relative;
        font-family    : Trade Gothic, sans-serif;
        font-size      : 6.5rem;
        line-height    : 6.6rem;
        letter-spacing : 2px;
        text-transform : uppercase;
        vertical-align : top;
    }

    .number-container {
        position    : relative;
        display     : block;
        white-space : nowrap;

        .cypher {
            position       : relative;
            font-family    : Trade Gothic, sans-serif;
            font-size      : 6.5rem;
            line-height    : 6.6rem;
            letter-spacing : 2px;
            text-transform : uppercase;
            vertical-align : top;

            &.number-placeholder {
                opacity : 0.05;
            }
        }

        &.js-animation {
            .cypher {
                display : inline-block;

                &.number-placeholder {
                    display : none;
                }
            }
        }
    }

    .label-container {
        padding-top : 0.45rem;
        p {
            margin-bottom  : 0;
            font-family    : Trade Gothic, sans-serif;
            font-size      : 1.8rem;
            line-height    : 1.85rem;
            letter-spacing : 4px;
            text-transform : uppercase;
        }
    }
}

/* Edits to the Odometer */
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-minimal .odometer-digit,
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
    vertical-align : top !important;
}

/**************************************/
/*             ODOMETER               */
/**************************************/
.odometer-inside {
    white-space : nowrap;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    *zoom           : 1;
    *display        : inline;
    position        : relative;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    *zoom           : 1;
    *display        : inline;
    position        : relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    *zoom           : 1;
    *display        : inline;
    visibility      : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align : left;
    display    : block;
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
    overflow   : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
    display : block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display                     : block;
    -webkit-backface-visibility : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
    display           : block;
    -webkit-transform : translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
    position : absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition : -webkit-transform 2s;
    -moz-transition    : -moz-transform 2s;
    -ms-transition     : -ms-transform 2s;
    -o-transition      : -o-transform 2s;
    transition         : transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform : translateY(-100%);
    -moz-transform    : translateY(-100%);
    -ms-transform     : translateY(-100%);
    -o-transform      : translateY(-100%);
    transform         : translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform : translateY(-100%);
    -moz-transform    : translateY(-100%);
    -ms-transform     : translateY(-100%);
    -o-transform      : translateY(-100%);
    transform         : translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition : -webkit-transform 2s;
    -moz-transition    : -moz-transform 2s;
    -ms-transition     : -ms-transform 2s;
    -o-transition      : -o-transform 2s;
    transition         : transform 2s;
    -webkit-transform  : translateY(0);
    -moz-transform     : translateY(0);
    -ms-transform      : translateY(0);
    -o-transform       : translateY(0);
    transform          : translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    font-family : "Helvetica Neue", sans-serif;
    line-height : 1.1em;
}

.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
    text-align : center;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    *zoom           : 1;
    *display        : inline;
    position        : relative;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    *zoom           : 1;
    *display        : inline;
    position        : relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    *zoom           : 1;
    *display        : inline;
    visibility      : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
    text-align : left;
    display    : block;
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
    overflow   : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
    display : block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
    display                     : block;
    -webkit-backface-visibility : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
    display           : block;
    -webkit-transform : translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
    position : absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition : -webkit-transform 2s;
    -moz-transition    : -moz-transform 2s;
    -ms-transition     : -ms-transform 2s;
    -o-transition      : -o-transform 2s;
    transition         : transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform : translateY(-100%);
    -moz-transform    : translateY(-100%);
    -ms-transform     : translateY(-100%);
    -o-transform      : translateY(-100%);
    transform         : translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform : translateY(-100%);
    -moz-transform    : translateY(-100%);
    -ms-transform     : translateY(-100%);
    -o-transform      : translateY(-100%);
    transform         : translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition : -webkit-transform 2s;
    -moz-transition    : -moz-transform 2s;
    -ms-transition     : -ms-transform 2s;
    -o-transition      : -o-transform 2s;
    transition         : transform 2s;
    -webkit-transform  : translateY(0);
    -moz-transform     : translateY(0);
    -ms-transform      : translateY(0);
    -o-transform       : translateY(0);
    transform          : translateY(0);
}

/* ==============================
    *HERO CLASSIC
============================== */
/*
    .hero-classic-container
    {
        >.hero-classic-img
        >.hero-classic-content{
            >h1.title [red-title]
            >p.subtitle
            >.line-container [thick] (LINE COMPONENT){
                .fill-line [red-line]
            }
        }
    }
*/
.hero-classic-container {
    position      : relative;
    display       : block;
    margin-bottom : 11%;
    padding-top   : 24%;

    .hero-classic-img {
        position            : absolute;
        top                 : 0;
        left                : 265px;
        right               : $common-padding;
        display             : block;
        width               : auto;
        height              : 86%;
        z-index             : 1;
        background-size     : cover;
        background-position : center center;
        background-repeat   : no-repeat;
    }

    .hero-classic-content {
        position         : relative;
        display          : block;
        width            : 78%;
        min-height       : 26rem;
        padding          : 3.5rem 4.5px 3.5rem $thick-padding;
        background-color : #FFFFFF;
        z-index          : 2;

        .title {
            margin-bottom  : 8px;
            font-family    : Trade Gothic, sans-serif;
            font-weight    : 700;
            font-size      : 4.5rem;
            line-height    : 4.6rem;
            text-transform : uppercase;
            letter-spacing : 0.5rem;
            &.red-title {
                color : $brand-primary;
            }
        }

        .subtitle {
            font-size      : 1.3rem;
            line-height    : 1.8rem;
            letter-spacing : 0.1rem;
            text-transform : uppercase;
        }

        .subtitle + .line-container {
            margin-top : 0;
        }

        .line-container {
            max-width  : 65%;
            margin-top : 20px;
        }
    }

    /* ==============================
        *HERO *IMAGE CLASSIC VARIANT
    ============================== */
    /*
        .hero-classic-container.hero-image-classic {
            >.hero-classic-img
            >.hero-classic-content{
                >h1.title [red-title]
                 [
                    >LINE CONTAINER
                 ]
                 ---or---
                 [
                    >p.subtitle
                    >[LINE CONTAINER]
                 ]
            }

        }
        .hero-image-classic-logo-row{
            >.row.no-gutters{
                >.col.col-12.col-sm-5{
                    >img.img-fluid.hero-logo
                }
                >.col.col-12.col-sm-7{
                    >p.subcontent
                }
            }
        }
    */

    &.hero-image-classic {
        .hero-classic-content {
            min-height : 10rem;
        }

        .line-container {
            &.full-width {
                max-width : 100%
            }
        }

        & + .hero-image-classic-logo-row {
            padding-top : 50px;

            .hero-logo {
                display : block;
                margin  : auto;
            }
        }
    }

    /*============
        MOBILE VERSION
    ============*/
    @media screen and (max-width : 991px) {
        .hero-classic-img {
            left   : 185px;
            right  : 27px;
            height : 82%;
        }
    }

    @media screen and (max-width : 767px) {
        padding-top : 65%;

        .hero-classic-img {
            left   : 128px;
            right  : 0;
            height : 82%;
        }

        .hero-classic-content {
            padding : 3.6rem 15px;
            .line-container {
                width     : 138%;
                max-width : 138%;
            }
        }

        /* Hero image classic variant */
        &.hero-image-classic {
            .hero-classic-content {
                padding : 4.5rem 20px 20px 0;
            }

            & + .hero-image-classic-logo-row {
                padding-top : 0;
            }
        }
    }
}

/* ==============================
    *IMAGE HERO
============================== */
/*
    .image-hero-container
    {
        >.landing-container{
            >.container-fluid.container-fluid-cap{
                >.row{
                    >.side-image-container{
                        >.side-image
                    }
                    >.col.col-sm-9.main-image-container{
                        >.main-image
                    }
                }
            }
        }
        .hero-content{
            >.container-fluid.container-fluid-cap{
                >.row{
                    >.col.col-sm-9.line-col{
                        >.line-container.thick.vertical-line{
                            >.fill-line.red-line
                        }
                    }
                }
                >.row{
                    >.col.col-md-8.thick-pad-l{
                        >[h1.micro-title.black-title]
                        >[h1/h2].title.red-title
                    }
                    >.col.horizontal-line-col.align-self-center{
                        >.line-container.thick{
                            >.fill-line.dark-line
                        }
                    }
                }
                >.row{
                    >.col.col-11.thick-pad-l{
                        >p.subtitle
                        >p.subcontent
                    }
                }
            }
        }
    }
*/
.image-hero-container {
    .landing-container {
        position : relative;
        display  : block;
        z-index  : 1;

        .container-fluid > .row {
            position : relative;
        }

        .side-image-container {
            position : absolute;
            top      : 0;
            right    : 0;
            display  : block;
            width    : 34%;
            height   : 97%;
            z-index  : 2;

            .side-image {
                position            : relative;
                top                 : 0;
                left                : 0;
                display             : block;
                width               : 100%;
                height              : 100%;
                background-size     : cover;
                background-repeat   : no-repeat;
                background-position : center center;
            }
        }

        .main-image-container {
            position : relative;
            z-index  : 3;
            .main-image {
                position            : relative;
                display             : block;
                width               : 100%;
                height              : 1px;
                padding-bottom      : 58%;
                background-size     : contain;
                background-repeat   : no-repeat;
                background-position : center center;
                z-index             : 2;
            }
        }
    }

    .hero-content {
        .line-col {
            padding-bottom : 9%;
            margin-bottom  : 3.5%;

            .vertical-line {
                position          : absolute;
                top               : -5%;
                left              : 50%;
                height            : 100%;
                -webkit-transform : translateX(-50%);
                -moz-transform    : translateX(-50%);
                -ms-transform     : translateX(-50%);
                -o-transform      : translateX(-50%);
                transform         : translateX(-50%);
            }
        }

        .micro-title {
            font-size      : 3.0rem;
            line-height    : 3.1rem;
            text-transform : uppercase;
        }

        .title {
            margin-bottom  : 8px;
            font-family    : Trade Gothic, sans-serif;
            font-weight    : 700;
            font-size      : 3.5rem;
            line-height    : 3.6rem;
            text-transform : uppercase;
            letter-spacing : 6px;
            &.red-title {
                color : $brand-primary;
            }
        }
    }
}

/* ==============================
    *PROMOTIONS
============================== */
.promotion-container {
    padding-top    : 8%;
    padding-bottom : 8%;

    .red {
        color : $brand-primary;
    }

    .sub-title {
        margin-top     : 1.2rem;
        margin-bottom  : 0;
        font-size      : 1.1rem;
        line-height    : 1.2rem;
        font-weight    : bold;
        text-transform : uppercase;
    }

    .subcontent {
        font-size      : 0.9rem;
        line-height    : 1.0rem;
        text-transform : uppercase;
    }

    .row, .content-col {
        z-index : 1;
    }

    .image-col {
        padding-left : 3.6rem;
        z-index      : 2;
    }

    .content-col {
        padding-right : 1.8rem;
    }

    .extended-line-container {
        position       : relative;
        display        : block;
        padding-bottom : 2rem;

        .line-container {
            position          : absolute;
            top               : 50%;
            right             : 0;
            display           : block;
            width             : 250%;
            -webkit-transform : translateY(-50%);
            -moz-transform    : translateY(-50%);
            -ms-transform     : translateY(-50%);
            -o-transform      : translateY(-50%);
            transform         : translateY(-50%);
        }
    }

    /* MEDIA TWEAKS */
    @media screen and (max-width : 767px) {
        .image-col {
            padding-left : 15px;
        }

        .extended-line-container {
            .line-container {
                width : 100%;
            }
        }
    }
}

/* ==============================
    *TWO COLUMN VERTICAL
============================== */
.two-column-vertical-section {
    position : relative;
    display  : block;
    z-index  : 1;

    & > .container-fluid {
        position : relative;
        z-index  : 2;
    }

    &.less-padding-bot {
        padding-bottom : 1%;
    }

    .hosting-first-path-line-container {
        display : none;
        z-index : 1;
    }

    .side-image {
        position            : absolute;
        top                 : 50%;
        left                : 0;
        display             : block;
        width               : 100%;
        height              : 100%;
        background-size     : cover;
        background-repeat   : no-repeat;
        background-position : center center;
        -webkit-transform   : translateY(-50%);
        -moz-transform      : translateY(-50%);
        -ms-transform       : translateY(-50%);
        -o-transform        : translateY(-50%);
        transform           : translateY(-50%);
    }

    .micro-title {
        color         : $brand-primary;
        margin-bottom : 0.6rem;
    }

    .title, .number-component {
        margin-bottom : 1.2rem;
        &.red {
            color : $brand-primary;
        }
    }

    .line-container {
        margin-bottom : 1.2rem;
    }

    .content-col {
        .line-container {
            width : 60%;
        }
    }

    & + .case-study-listing-element {
        padding-top : 14%;
    }

    /* ALIGNMENT SPECIFIC RULES */
    &.section-aligned-left {
        .mirror-quote-container {
            .quote {
                text-align : right;
            }
        }
    }

    &.section-aligned-right {
        .mirror-quote-container {
            .quote {
                text-align : left;
            }
        }
    }

    /* POSITION SPECIFIC RULES */
    &.first-section, &.last-section {
        .path-container { //this is a stand alone version of the vertical redline, animated differently as well
            position : absolute;
            top      : 8%;
            left     : 41.6%;
            display  : block;
            width    : 6px;
            height   : 92%;

            .fill-line {
                position         : absolute;
                top              : 0;
                display          : block;
                width            : 6px;
                height           : 0;
                background-color : $brand-primary;
            }
        }
    }

    &.first-section {
        padding-top : 15%;
    }

    &.last-section {
        .last-section-line-container {
            position       : absolute;
            top            : 11%;
            left           : 0;
            display        : block;
            width          : 100%;
            height         : 8rem;
            margin-bottom  : 3rem;
            padding-bottom : 0;
            box-sizing     : content-box;
        }
    }

    @media screen and (min-width : 768px) {
        &.first-section {
            padding-top : 12%;
            .first-path-line-container {
                position       : absolute;
                top            : 0;
                left           : 0;
                display        : block;
                width          : 100%;
                height         : 100%;
                padding-bottom : 5%;
                box-sizing     : content-box;
            }

            .content-col {
                padding-bottom : 22%;
            }
        }

        &.last-section {
            .content-col {
                padding-top : 26%;
            }
        }

        &.central-section {
            .content-col {
                padding-top    : 22%;
                padding-bottom : 22%;
            }

            .mirror-quote-container.bottom-quote {
                padding-top : 150%;
                .mirror-image {
                    padding-bottom : 200%;
                }
            }
        }
    }

    /**************************************/
    /*  IRREGULAR VERSION (WHO WE ARE / MAINTENANCE) */
    &.irregular {
        &.first-section {
            .image-col {
                padding-top : 12.5%;
                .side-image {
                    top               : 0;
                    left              : auto;
                    right             : 34%;
                    -webkit-transform : none;
                    -moz-transform    : none;
                    -ms-transform     : none;
                    -o-transform      : none;
                    transform         : none;
                }

                .mirror-quote-container {
                    right : 20%;
                    .quote {
                        padding-left : 22%;
                    }
                }
            }
        }

        &.last-section {
            .content-col {
                .line-container {
                    width : 100%;
                }
            }

            .image-col {
                padding-top : 12.5%;
                .side-image {
                    top               : auto;
                    bottom            : 0;
                    right             : auto;
                    left              : 0;
                    -webkit-transform : none;
                    -moz-transform    : none;
                    -ms-transform     : none;
                    -o-transform      : none;
                    transform         : none;
                }

                .mirror-quote-container {
                    left : 0;

                    @media screen and (min-width : 768px) {
                        padding-top : 0;
                    }

                    .quote {
                        padding-right : 22%;
                    }
                }
            }
        }
    }

    /************************************/
    /*  REGULAR VERSION (BESPOKE BRANDS */
    &.regular {
        &.first-section {
            padding-top : 15%;
            .image-col {
                .side-image {
                    width                   : 115%;
                    -webkit-background-size : contain;
                    background-size         : contain;
                }
            }
        }
        &.last-section {
            .content-col {
                padding-bottom : 22%;
            }
        }
    }

    /******************/
    /*  MOBILE TWEAKS */
    @media screen and (max-width : 767px) {
        padding-top    : 5%;
        padding-bottom : 5%;

        //GENERAL
        .image-col {

            .side-image {
                position          : relative;
                top               : 0;
                height            : 23rem !important;
                margin-bottom     : 2rem;
                -webkit-transform : none;
                -moz-transform    : none;
                -ms-transform     : none;
                -o-transform      : none;
                transform         : none;
            }

            .mirror-quote-container {
                margin-bottom : 2rem;
            }
        }

        .client-logo {
            max-width : 340px;
        }

        &.regular, &.irregular {

            //FIRST SECTION
            &.first-section {
                padding-top : 5%;
                .first-path-line-container {
                    display : none;
                    width   : 5px;
                    .fill-line {
                        width : 5px;
                    }
                }

                .image-col {
                    padding-top : 0;
                    .side-image {
                        left  : auto;
                        right : 0;
                    }

                    .mirror-quote-container {
                        right : 0%;
                        .quote {
                            padding-left : 22%;
                        }
                    }
                }
            }

            //LAST SECTION
            &.last-section {
                .last-section-line-container {
                    display : none;
                    width   : 5px;
                    .fill-line {
                        width : 5px;
                    }
                }

                .image-col {
                    padding-top : 0;

                    .mirror-quote-container {
                        left : 0;
                        .quote {
                            padding-left : 22%;
                        }
                    }
                }
            }
        }

        &.regular {
            &.last-section {
                .content-col {
                    padding-bottom : 0;
                }
            }
        }
    }

    @media screen and (min-width : 576px) and (max-width : 767px) {
        .image-col {
            .mirror-quote-container {
                margin-top : 15%;
            }
        }
    }

    @media screen and (max-width : 575px) {
        padding-top    : 7%;
        padding-bottom : 7%;

        .image-col {
            .side-image {
                height : 18rem !important;
            }
        }

        .client-logo {
            max-width : 88%;
        }
    }
}

/* ==============================
    *CASE STUDY LISTING ELEMENT
============================== */
.case-study-listing-element {
    .case-study-logo {
        max-width : 340px;
    }

    .case-study-logo + .line-container {
        margin-top : 1.6rem;
    }

    .line-container + .subcontent {
        margin-top : 1.6rem;
    }

    .line-container + .title {
        margin-top : 1.4rem;
    }

    .content-col {
        padding-top    : 7%;
        padding-bottom : 7%;

        .line-position-allocator {
            position       : relative;
            display        : block;
            width          : 100%;
            padding-top    : 1.3rem;
            padding-bottom : 1.2rem;
            .line-container {
                position          : absolute;
                top               : 50%;
                width             : 215%;
                -webkit-transform : translateY(-50%);
                -moz-transform    : translateY(-50%);
                -ms-transform     : translateY(-50%);
                -o-transform      : translateY(-50%);
                transform         : translateY(-50%);
            }
        }

        .subcontent {
            margin-bottom : 1.5rem;
        }
    }

    /* POSITION RELATED RULES */
    &.left-aligned-section {
        .line-container {
            right : 0;
        }
    }

    &.right-aligned-section {
        .line-container {
            left : 0;
        }
    }

    /* MEDIA TWEAKS */
    @media screen and (min-width : 768px) {
        .image-col {
            .mirror-quote-container {
                .mirror-image-container {
                    .mirror-image {
                        position : relative;
                    }
                }
            }
        }
    }

    @media screen and (max-width : 767px) {
        .content-col {
            .case-study-logo {
                max-width : 240px;
            }

            .line-position-allocator {
                .line-container {
                    width : 100%;
                }
            }
        }
    }

    @media screen and (max-width : 575px) {
        .content-col {
            padding-top : 1rem;
        }
    }
}

/* ==============================
    *SUB HERO
============================== */
.sub-hero-component {
    padding-top    : 5%;
    padding-bottom : 5%;

    .image-col {
        .side-image {
            position            : absolute;
            top                 : 0;
            display             : block;
            width               : 100%;
            height              : 100%;
            background-size     : cover;
            background-repeat   : no-repeat;
            background-position : center center;
        }
    }

    .content-col {
        padding-top    : 4rem;
        padding-bottom : 4rem;
    }

    /* ALIGNMENT DEPENDANT RULES */
    &.left-aligned {
        .image-col {
            .side-image {
                right : $common-padding;
            }
        }
    }

    &.right-aligned {
        .image-col {
            .side-image {
                left : $common-padding;
            }
        }
    }

    /* MEDIA TWEAKS */
    @media screen and (max-width : 767px) {
        .image-col {
            .side-image {
                position       : relative;
                left           : 0;
                right          : auto;
                height         : 1px;
                padding-bottom : 45%;
            }
        }

        .content-col {
            padding-top : 1rem;
        }
    }
}

/* ==============================
    *DIVIDED COLOUR BLOCK
============================== */
.divided-colour-block-section {

    /* COLOR CHANGES */
    &.dark-background {
        background-color : $brand-secondary;
        color            : #FFFFFF;
        .micro-title {
            color : #FFFFFF;
        }
    }

    &.light-background {
        background-color : #FFFFFF;
        .micro-title {
            color : $brand-primary;
        }
    }

    /* SECTIONS */
    &.first-divided-section {
        .content-col {
            padding-bottom : 10%;
            z-index        : 5;
            .micro-title {
                position       : relative;
                left           : -70%;
                display        : block;
                width          : 130%;
                padding-top    : 1.1rem;
                padding-left   : 44%;
                padding-bottom : 0.3rem;
                font-size      : 2.0rem;
                text-transform : uppercase;
            }
            .line-container {
                left          : -70%;
                width         : 88%;
                margin-bottom : 6%;
                .fill-line {
                    right : 0;
                }
                &:first-child {
                    margin-top : 14%;
                }
            }
            .number-component {
                .micro-title {
                    left          : 0;
                    width         : 80%;
                    margin-top    : 12%;
                    margin-bottom : 0;
                    padding-left  : 15px;
                    font-size     : 1.2rem;
                    line-height   : 1.3rem;
                }
            }
            .logo-container {
                width      : 80%;
                margin-top : 0.3rem;
            }
        }
        .image-col {
            z-index        : 4;
            padding-top    : 9.7%;
            padding-bottom : 6%;
        }
    }

    &.second-divided-section {
        .content-col {
            padding-top    : 14%;
            padding-bottom : 12%;
        }
        .image-col {
            .image-container {
                position          : absolute;
                bottom            : 0;
                left              : 0;
                display           : block;
                height            : 120%;
                background-repeat : no-repeat;

                &.box {
                    left                : 35%;
                    width               : 65%;
                    background-size     : cover;
                    background-position : center center;
                }

                &.item {
                    left                : 10%;
                    width               : 160%;
                    background-size     : contain;
                    background-position : left bottom;
                }
            }
        }
    }

    &.second-divided-section + .first-divided-section,
    &.full-width-section + .first-divided-section {
        margin-top : 6%;
        .image-col {
            padding-top : 6%;
        }
    }

    /*** MEDIA TWEAKS ***/
    @media screen and (max-width : 767px) {
        &.first-divided-section {
            padding-top : 6%;

            &.light-background {
                .image-col {
                    padding-top : 5%;
                }
            }

            .content-col {
                padding-bottom : 6%;

                .micro-title {
                    left         : 0;
                    width        : 100%;
                    padding-left : 0;
                    text-align   : right;
                }

                .number-component {
                    .micro-title {
                        margin-top   : 0.8rem;
                        padding-left : 0;
                        text-align   : left;
                    }
                }

                .line-container {
                    left  : 0;
                    width : 100%;

                    &:first-child {
                        margin-top : 0;
                    }
                }
            }
        }

        &.second-divided-section {
            margin-bottom : 30%;
            .content-col {
                padding-top    : 7%;
                padding-bottom : 6%;
            }
            .image-col {
                height         : 1px;
                padding-bottom : 25%;
                .image-container {
                    &.item, &.box {
                        position            : relative;
                        left                : 0;
                        width               : 100%;
                        height              : 1px;
                        padding-bottom      : 50%;
                        background-position : center center;
                    }
                }
            }
        }
    }

    /**** FULL WIDTH BLOCK ***/
    &.full-width-section {
        .image-col {
            padding-top : 4%;
            .image-container {
                position            : relative;
                width               : 100%;
                height              : 1px;
                padding-bottom      : 40%;
                background-size     : cover;
                background-repeat   : no-repeat;
                background-position : center center;
            }
        }
        .content-col {
            padding-top    : 4%;
            padding-bottom : 4%;
        }
    }
}

/* ==============================
    *COFFEE CPT CUSTOM HERO
============================== */
/*
    .coffee-cpt-custom-hero
    {
        >.container-fluid.container-fluid-cap{
            >.row{
                >.image-col.col.col-12.col-md-3.order-1.order-md-3.common-pad-r{
                    >.hero-classic-img
                }

                >.line-col.col.col-12.col-md-3.order-2.order-md-1{
                    >.line-container.vertical-line.hero-line-container.thick{
                        >.fill-line.dark-line
                    }
                }

                >.content-col.col.col-12.col-md-6.order-3.order-md-2.align-self-center{
                    >.hero-classic-content{
                        >[img.coffee-logo.img-fluid]
                        >h1.title
                        >.line-container.thick{
                            >.fill-line.dark-line
                        }
                        >p.subtitle
                    }
                }
            }
        }
    }
*/
.coffee-cpt-custom-hero {
    position : relative;
    display  : block;

    .hero-classic-img {
        position            : relative;
        top                 : 0;
        left                : 0;
        display             : block;
        width               : 100%;
        height              : 1px;
        padding-bottom      : 290%;
        z-index             : 1;
        background-size     : cover;
        background-position : center center;
        background-repeat   : no-repeat;
    }

    .hero-line-container {
        position : absolute;
        top      : 15%;
        right    : -10px;
        display  : block;
        height   : 100%;

        @media screen and (min-width : 1550px) {
            right : 18%;
        }
    }

    .hero-classic-content {
        position   : relative;
        display    : block;
        width      : 80%;
        min-height : 18rem;
        padding    : 4.5rem 15px 4.5rem $common-padding;
        z-index    : 2;

        .coffee-logo {
            max-width : 340px;
        }

        .coffee-logo + .title {
            margin-top : 1.5rem;
        }

        .title {
            margin-bottom  : 8px;
            font-family    : Trade Gothic, sans-serif;
            font-weight    : 700;
            font-size      : 3.2rem;
            line-height    : 3.3rem;
            text-transform : uppercase;
            letter-spacing : 6px;
            &.red-title {
                color : $brand-primary;
            }
        }

        .subtitle {
            font-size      : 1.1rem;
            text-transform : uppercase;
        }

        .subtitle + .line-container {
            margin-top : 0;
        }

        .line-container {
            max-width  : 65%;
            margin-top : 20px;
        }
    }

    /*** MEDIA TWEAKS ***/
    @media screen and (max-width : 767px) {
        .image-col {
            position : absolute;
            top      : 0;
            left     : 0;

            .hero-classic-img {
                left           : 128px;
                right          : 0;
                height         : 82%;
                padding-bottom : 60%;
            }
        }

        .line-col {
            display : none;
        }

        .content-col {
            padding-top : 45%;
            .hero-classic-content {
                background-color : #FFFFFF;
                padding          : 2.5rem 3.5rem;
            }
        }
    }

    @media screen and (max-width : 575px) {
        .content-col {
            .hero-classic-content {
                padding : 2.5rem 15px;
            }
        }
    }
}